[2015-03-04 00:13] ahdinosaur opened #1 "roles"
in my opinion, one major selling point of holodex is a system to describe and delegate roles within a network. a great example of an existing system with similar aims is [GlassFrog](https://glassfrog.holacracy.org/organizations/5).

the concept of a role is overloaded, so in order to architect a beautiful system we need to break it down into its constituent pieces. i'll approach this with a simple

[2015-03-04 00:24] simontegg commented on #1
@ahdinosaur and I talked about this and I realised we already had a good description of roles and responsibilities for **[Loomio Coop](http://loomio.org) members**:

[2015-03-04 01:04] bhaugen commented on #1
Yeah, roles are really overloaded. Almost as bad as projects and events.

Here are some different concepts that could be called roles from the descriptions above:
1. What an agent does, for example "every month, collect intention to contribute money to collective desk account, then check people have actually put money into desk account".
2. An ongoing relationship between agents, for example, Mike

[2015-03-04 01:33] fosterlynn commented on #1
@ahdinosaur very interesting.  I also want to think more about your "virtual agent" and "post" concepts.  Right now it seems to me that the RelationshipType, the Post, and the Virtual Agent could be the same thing.  But possibly not quite, so a bit of thinking out loud:

A post could imply an actual ongoing position, for example Craftworks might decide to have 2 Desk Collectors, and then that woul

[2015-03-11 01:01] ahdinosaur opened #2 "types of relationships"
TODO: classify types of relationships
- unidirectional (followership)
- bidirectional (stewardship)
- multi-directional
- hierarchical (employership?)
- multi-level (various levels of membership, e.g. contributor / member)

[2015-03-11 14:46] bhaugen commented on #1
I think Post is missing from the Agent, Relationship (between two agents), and RelationshipType. (I'm using Post here instead Role, but I think the concept at least similar to schema.org::Role (but see also below...)
http://blog.schema.org/2014/06/introducing-role.html
http://schema.org/Role
1. Post will exist in some organizational contexts but not others. For example, Craftworks has a Desk Colle

[2015-03-11 14:51] bhaugen commented on #2
Some bidirectional roles are symmetric (that is, the same on both ends, like friend or sibling).

Some are reciprocal but asymmetric (different on each end, like customer-supplier).

(P.S. @ahdinosaur I think I understand what you mean by multi-level, but fleshing it out with some more detailed examples and how the levels relate to the relationships would clarify.)

[2015-03-11 15:20] fosterlynn commented on #1
Couple notes to add on to @bhaugen above: Looking at the org:Organization model, they also have Role and Post.  http://www.w3.org/TR/vocab-org/#overview-of-ontology

Post is defined as the generic post that lives beyond people who fill the Post.  But it also has a relationship with the Agent(s) who holds the post at a point in time - I guess the relationship is "instantiated" too?  (called org:hol

[2015-03-11 15:40] fosterlynn commented on #2
Here are some relationship types that people have implemented in NRP, so we have something concrete to think about:

Sensorica:
-Exchange Firm
-Affiliate (used to be Member, they decided to loosen the concept)
-Supplier (note we have an open issue with Supplier and Customer being separate roles, while they really are different directions of the same role)
-Customer
-Child
-Custodian

DHEN:
-Member

[2015-03-11 19:30] fosterlynn commented on #2
And (feel free to correct!), from Holodex:
-Member
-Steward
-Mentor

[2015-03-11 22:50] fosterlynn commented on #1
More discussion and questions as I think about this.... ongoing, not trying to be definitive.  :)

@ahdinosaur can you give a couple examples of where you think a Post has many Roles/RelationshipTypes?

The way I think of our current RelationshipType is more at the level of a Post than anything like the list @simontegg gave for roles and responsibilities, although there may be other differences be

[2015-03-12 00:40] fosterlynn commented on #1
OK a tentative attempt:  I don't really like it, can't seem to simplify the slightly different requirements for Post and relationships not defined by the organization.  Anyhow, hopefully food for discussion.
THIS IS OLD, SEE BELOW.
![agent](https://cloud.githubusercontent.com/assets/3776081/6620117/ebf2d316-c89c-11e4-9bdc-be9ad390980f.png)

[2015-03-12 03:07] ahdinosaur commented on #2
by multi-level relationship i mean relationship types that derive from a parent relationship type. for example, our membership system within [Enspiral](http://enspiral.com) (and also within the [Enspiral Craftworks team](http://craftworks.enspiral.com)) has multiple levels of membership, namely "contributor" and "member". contributors participate in the group, members are the core locus of power w

[2015-03-12 14:30] fosterlynn commented on #2
@ahdinosaur What are some examples of multi-directional relationships?

[2015-03-12 14:35] fosterlynn commented on #2
@ahdinosaur If we include some type of relationship of relationships (you mention parent) so you can see that multi-level relationships are related to each other in some way, how would you want to define that relationship?  I'm mostly asking how would you use the information, what do you need to know and why?  For example do you need to know that members are the core and contributors are outside o

[2015-03-12 19:11] fosterlynn commented on #2
Taking our known list of relationship types and analyzing them to see how they shake out... conclusions in a separate post...

key:
O-O: organization related to organization
P-O: person related to organization
A-O: any agent related to organization
P-P: person related to person
CA: context agent needed in addition to the 2 sides of the relationship (if no CA, basically means that one side of the r

[2015-03-13 00:41] fosterlynn commented on #2
Some thoughts from the above:
- All of our examples are bidirectional, although follower is definitely something we would want to support (unidirectional).
- Most of what we have has the context agent (or group in Holodex) as one of the agents in the relationship.  But some do not.
- Multi-level we can support with a recursive "parent" relationship.
- I wonder if we want to separate out the parent

[2015-03-13 00:56] fosterlynn commented on #1
Here is draft 2, I like it better, although I'm sure it can be improved.
![agent](https://cloud.githubusercontent.com/assets/3776081/6654078/8ed97870-ca7b-11e4-99f9-5ea67a876855.png)

I flipped the thought process from starting with our model and adding the context agent to starting with the context agent defining some roles, then those roles get filled.  I put the post (position) into the role so

[2015-03-13 01:08] ahdinosaur commented on #1
wow @fosterlynn this is amazing, thanks. :)

[2015-03-13 13:45] bhaugen commented on #1
@ahdinosaur - followup question about "virtual agents". You wrote, "to follow the practice of other concepts in the Value Network vocabulary and create a virtual entity that parallels the actual entity".

Do you mean a type object (e.g. like AgentType, ResourceType, ProcessType, etc.)? Or something else?

[2015-03-13 14:05] fosterlynn commented on #1
I'm wondering if we want the symmetric construct on the type level.  I get it on the relationship level where people need to affirm their end of it.  But on the type level, it seems like the whole thing needs to get defined together, no matter who is defining it.  Thoughts?  We'd need to make sure the relationship could figure out which direction of the type it is referring to.

[2015-03-13 22:14] ahdinosaur commented on #1
@bhaugen i mean plans vs actuals, so Commitments vs EconomicEvents.

[2015-03-15 07:48] ahdinosaur commented on #1
@fosterlynn what do you use to make those diagrams? i have a new approach for how to model the data (see the [Craftworks](http://craftworks.enspiral.com) data in the new format [here](https://github.com/holodex/app/tree/new-relationship-types/data)) and am keen to make a diagram to help describe it.

in summary, we got rid of the `is` and `has` directionality where we had an object for each direct

[2015-03-15 12:10] fosterlynn commented on #1
@ahdinosaur There are a bunch of diagramming tools out there, but I am using cacoo (https://cacoo.com/) at the moment.  It is working well for me. You get 25 free sheets, which I am going through very slowly - warning, they count deleted ones.  I'm using the UML stencil section, but there are lots of choices.  Export to image costs, so I just do alt-print-screen and crop it in paint or gimp.  :)

[2015-03-15 16:22] fosterlynn commented on #1
@ahdinosaur   @s01us  @joshuavial   Nice.  So far I think I like your normalizing the roles out of the relationship (and types), or putting the relationship part back together, whichever it was.  Might support unidirectional relationships like "follower" better, although there is a distinction between not needing consent and saying the role doesn't exist - people count their followers all the time

[2015-03-15 18:31] bhaugen commented on #1
Another question:

When I look at [enspiral-craftworks](https://github.com/holodex/app/blob/new-relationship-types/data/groups/enspiral-craftworks.yml), I see all the members and contributors, including "ayumi-member-enspiral-craftworks". When I look at [ayumi](https://github.com/holodex/app/blob/new-relationship-types/data/people/ayumi.yml), I also see "ayumi-member-enspiral-craftworks".

However

[2015-03-15 22:25] ahdinosaur commented on #1
@bhaugen on accident. in the future, the list of relationships for each agent will be populated from all relationships that reference that agent in any role.

[2015-03-15 22:32] ahdinosaur commented on #1
@fosterlynn

yeah, `isContextual` and `dependencies` were ideas i had afterwards. for example, a stewardship relationship has three roles: steward, stewardee, and group. in the group role, `isContextual` is true. in the steward role, `dependencies` is `['stewardee']`. in the stewardee role, `dependencies` is `['steward']`.

about where the data lives, we're thinking that each agent has a copy of t

[2015-03-15 22:59] ahdinosaur commented on #1
the reason for `isContextual` is to describe certain role types as having different characteristics. other characteristics i can think of are 'source' and 'target', which are characteristics for directional roles (follower is 'source' and followee is 'target, it's possible steward and stewardee are this way too). maybe instead of a boolean flag for characteristics, we should have a property with e

[2015-03-16 00:23] fosterlynn commented on #1
@ahdinosaur

Dependencies:  Still thinking, and will see where you go on your picture too.

isContextual: I like having an enumerated property too.  We attempted that originally with a behavior code for child, member, customer, etc.  But I took it out of the vocab, some of the list wasn't correct.  I think the way you are thinking about it is closer - maybe we can distill some behaviors given the

[2015-03-16 00:33] ahdinosaur commented on #1
hmm, if we consider the original Desk Collector role presented to start this issue, it's a standalone role (not really part of either a relationship but i guess could be part of a post) that is within the context of a group. likewise, the stewardship relationship is also within the context of a group. maybe instead of making a separate role to describe context groups (which doesn't really work wit

[2015-03-16 00:40] ahdinosaur commented on #1
also thanks @fosterlynn for helping me with the diagram. :smiley:

[2015-03-16 01:02] fosterlynn commented on #1
@ahdinosaur A few thoughts, but it's getting late so I might not be coherent.  :)  And you're very welcome. :)

If the RelationshipType has a context agent, then the RoleType shouldn't need one because it is the same one?  And in fact it would be the same one on the Relationship/Role level too, right?

(I'm not actually sure RelationshipType should have a context agent, although I was the one who

[2015-03-17 19:09] fosterlynn commented on #1
@ahdinosaur  Here's one riffing off of your latest.....
![agent2](https://cloud.githubusercontent.com/assets/3776081/6695498/ad9c7f10-ccaf-11e4-9fa6-0cef2976f841.png)

[2015-04-09 21:10] fosterlynn opened #3 "Use case for w3c"
@elf-pavlik has persuaded me to participate with him in the social interest group in w3c - so that the work on vocab can have broader reach.  I'm thinking to submit a use case that will address the question of flexibly defined relationships.  Enspiral's holodex provides a nice clean but interesting one I think.  @ahdinosaur and @simontegg please offer additions and corrections as needed.  (I wasn'

[2015-04-10 02:45] ahdinosaur commented on #3
@fosterlynn awesome! good on you for being our ambassador to the w3c, i reckon i'm a bit too jaded about traditional standards bodies to be able to do it myself, but i really appreciate support in this regard and value the importance of extending our reach by connecting with more mainstream venues for collaboration.

submitting use cases for the systems we want to make possible is a great idea. th

[2015-04-11 06:58] elf-pavlik commented on #3
@fosterlynn this use case sounds little static to me and doesn't seem to explain requirements for expected online **interaction**. What do you think about formulating it/them more in direction of [Social API User Stories](https://www.w3.org/wiki/Socialwg/Social_API/User_stories)?

[2015-04-11 16:08] fosterlynn commented on #3
@elf-pavlik thanks very much, I see your point and hadn't noticed that in the existing use cases.  I have re-worked below and added a bit from Sensorica for this second draft to try to make it more social.  Re-reading, I'm not sure I have totally succeeded, probably because in my mind this is a data vocab/ontology requirement and I don't care how the interaction happens, but hopefully it is better

[2015-04-11 17:02] elf-pavlik commented on #3
Sounds better, now we have _form_, _invite_, _join_, _change_, _collect_, _pay_, _post_, _assign_, _quit_. Looks like some social interaction happening online and offline :smile:

[2015-04-11 17:28] fosterlynn commented on #3
@elf-pavlik  ok good, thanks again.

@ahdinosaur  said: "good on you for being our ambassador to the w3c, i reckon i'm a bit too jaded about traditional standards bodies to be able to do it myself."  Mikey, believe me, I can completely relate to that statement and I am filled with dread!  But I will give it a good try and see if we can get something done fairly quickly....  :smile:

[2015-07-08 03:07] ahdinosaur opened #5 "queries"
we've been working on a data structure for how we represent queries in the url (https://github.com/open-app/holodex/issues/63), i reckon it's about time we moved this data structure into the vocab proper, so here's a space for that conversation.

/cc @simontegg

[2015-07-09 03:16] ahdinosaur commented on #2
relevant work in 'activitystreams' spec: https://github.com/jasnell/w3c-socialwg-activitystreams/issues/180.

[2015-07-14 17:01] #3 closed

[2015-07-20 12:26] pmackay opened #6 "Why definitions using .js files?"
I'm just curious why this vocab definition is defining objects using `.js` files? What about just using JSON schema files to define simple objects?

[2015-07-20 22:43] ahdinosaur commented on #6
hey @pmackay. we're using `.js` files that `module.export` extended JSON schema objects (with a few custom properties not in the spec but allowed by the spec). i chose `.js` files over `.json` files so i could do things like [requires](https://github.com/openvocab/holodex/blob/master/vocab/Agent.js#L4) or [getter functions](https://github.com/openvocab/holodex/blob/master/vocab/Agent.js#L33-L39),

[2015-07-31 02:18] ahdinosaur commented on #2
based on [this comment](https://github.com/holodex/app/issues/60#issuecomment-124998306) and the [emergence of relationships in the activity streams spec](https://rawgit.com/jasnell/w3c-socialwg-activitystreams/master/activitystreams-vocabulary/index.html#connections), i'm feeling more and more that we should throw out our current vocab of roles + relationships and instead move to relationships be

[2015-07-31 11:05] bhaugen commented on #2
I put this comment in the [wrong place](https://github.com/holodex/app/issues/60#issuecomment-126630130) originally. I think this is the right place. Sorry for the dup.

Re data structures: I don't agree with the [comment](https://github.com/sindresorhus/module-requests/issues/2#issuecomment-120626901) above.

We spend a lot of time on them, but they are not the classic computer science structures

[2015-07-31 13:27] fosterlynn commented on #2
@ahdinosaur  I will study the AS spec today and respond later.  This is a great time to revisit the vocab while you are in the thick of it!  Note the vocab can influence your internal model or not, as long as you can generate the vocab from it.

I think Mikey you are saying that separating out the roles and links might be overkill.  I agree with that.   @bhaugen  I don't think Mikey is saying to r

[2015-08-01 00:44] fosterlynn commented on #2
@ahdinosaur

I like the AS spec for Relationship well enough.  I like that it has the facility to quality the relationship with what you want, like with start date or status or context agent.  One question I have is can we use anything for the relationship: ?  Like we want to use a RelationshipType, others may not.  It sounds like we could use a class (subclass) or a property or whatever we like,

[2015-08-01 01:14] fosterlynn commented on #2
@ahdinosaur  P.S. Another thing I don't like about the AS Relationship is that it inherits from AS Object, which is way too narrowly defined for us.  Like it has bcc and cc as properties!  It comes from the narrower scope of activity streams, which is way narrower than our agent relationships.  I've noticed this before about the vocabularies that are out there - there is a tendency to start narrow

[2015-08-01 10:07] bhaugen commented on #2
@fosterlynn - who, in practice, does not use something like RelationshipType? Do they just say, these (whatevers) are related in some generic unqualified way and that's it? Or do they assume "friend"? Or do they use something on the relationship that might say something about the nature of the relationship but it is not a type? That is, it's free-form, like a string: you can't reliably find a coll

[2015-08-01 12:22] fosterlynn commented on #2
@bhaugen True, most people use something like a Relationship Type.  (But yes, sometimes it is just a string with no reference elsewhere.  I've not seen an unnamed relationship that I can think of.)

Below is an example from AS, that refers to http://vocab.org/relationship/.html, where there is nothing more than a definition, so it is really more like a Relationship Type than the people who use sub

[2015-08-10 22:59] ahdinosaur commented on #1
from [another comment i just made](https://github.com/open-app/holodex/issues/78#issuecomment-129640292),

[2015-08-16 06:24] ahdinosaur commented on #5
progress has been done following this in [enspiral-data/linkTypes.csv](https://github.com/holodex/enspiral-data/blob/master/linkTypes.csv).

@simontegg assuming we migrate to only having `agentTypes`, `agents`, `relationshipTypes`, and `relationships`, what data do you think we need to support queries? or more specifically, could you explain `labels` and `queryLabels` and the difference between th

[2015-08-16 23:20] ahdinosaur commented on #1
new vocab draft using only `Agent`, `AgentType`, `Relationship`, and `RelationshipType`:

![holodex-vocab](https://cloud.githubusercontent.com/assets/719605/9295890/97a93ed8-44d1-11e5-8a39-b093be3dece9.jpg)

(for reference, [previous vocab](https://github.com/open-app/holodex/issues/70#issuecomment-120225030))

[2015-08-16 23:40] fosterlynn commented on #1
@ahdinosaur Sweet!  We can get back on generating some data as soon as we can.  We do have a couple other things going on with deadlines, so we'll piece it in asap.

[2015-08-17 00:26] simontegg commented on #5
some background first:

Holodex is data-centric, meaning that it works with an underlying unified dataset of people, groups and relationships. This makes Holodex distinct from applications like metamaps and kumu where users compose maps directly, but a person on one map is not linked to the same person in another map. When the user adds public data to Holodex they add to the Global General Graph (

[2015-08-17 01:07] bhaugen commented on #5
On Sun, Aug 16, 2015 at 7:26 PM, simontegg notifications@github.com wrote:

Yes! That's we want!

[2015-08-17 01:25] ahdinosaur commented on #5
wow, great recap @simontegg. :+1:

i think i understand what a `queryLabel` is now. and with that in mind, i imagine a `label` is the text that would appear when you hovered over a relationship, e.g. "Mikey stewards Simon" or "Mikey belongs to Enspiral Craftworks".

another piece worth mentioning is composability, as queries must inherently compose. currently we only compose the graph routines as

[2015-08-17 13:46] fosterlynn commented on #5
@ahdinosaur  We talked about that early on when doing Agent ourselves, and decided we didn't really need it, but it still seems like a perfectly fine vocab addition.  It would give people constraints on entry; and I can see it could help on the query creation side as you suggest.  A note - we would need to explicitly support Agent as supertype of Person and Organization, because some relationships

[2015-08-23 21:21] elf-pavlik opened #7 "multiple sources of truth and cross validation"
Following up on: https://github.com/openvocab/exchange/issues/2
How holodex relationships get stored, where each Agent publishes to its autonomous data space? https://github.com/holodex/enspiral-data/blob/master/relationships.csv

In such case, for each relation between two Agents, we will always have at least two web resources which describe this relation, each from one of the agents perspective.

[2015-08-24 04:26] ahdinosaur commented on #7
great design requirement to bring up.

the approach i have in mind for this is to architect the system where each Agent has their own autonomous data space, where related objects are linked together via URLs.

i'd rather the data provenance, signing, verification, encryption, and decryption be a data layer below the app layer, instead of having to handle that here; for this i'm keen to use [ssb](h

[2015-08-24 09:14] elf-pavlik commented on #7
Do you hang out with @dominictarr there in far south? :smile:

When it comes to signaures, Linked Data Signatures seem very attractive to me. Since one signs the _meaning_ of he message and not particular serializaion. So for example if you use JSON-LD, all the formating including white spaces etc. doesn't matter, before signing it goes through graph normalization currently worked on as part of W3

[2015-08-25 04:49] dominictarr commented on #7
heeey. btw back in NZ. will be down your ways in sept!

[2015-08-25 06:38] elf-pavlik commented on #7
@dominictarr @ahdinosaur how in Secure Scuttlebutt you manage such cases? I guess you just sign everything and verify things by checking signatures. Can we take case of membership in a secret group with a group wall (message board), chat room and calendar?

Can you point me to information on how you manage such membership in secret groups and access control levels (eg. member, admin, moderator etc

[2015-08-25 16:26] dominictarr commented on #7
@elf-pavlik hey yes in ssb every post is signed. it naturally works well with subjective data. for example, my name for you overwrites your name for yourself. But to get that i must explicitly name you.

We do not have groups implemented yet, though we are thinking about how to do it. I'm fairly sure it will work as a data structure on top of the ssb feeds, but we have just had many smaller bridge

[2015-08-28 19:27] elf-pavlik opened #8 "skills"
I would like to start brainstorming how to express skills. Most [processes](https://github.com/openvocab/process) (all not fully automated ones) will require involvement of an Agent with particular set of skills. So far I tend to use [Cognitive Characteristics Ontology](http://smiy.sourceforge.net/cco/spec/cognitivecharacteristics.html#) for describing skills. I also noticed recent creation of [CV

[2015-08-28 20:24] bhaugen commented on #8
We (and the NRP vocab) consider skills to be Resource Types. They could be described by, and are certainly related to, those other vocabularies. But they also, as you wrote, are related to agents and processes.

Work is a resource to us, and is usually a required input to a process that creates something.

So, for example if you were coming from an IPO perspective, on the recipe layer, a Process T

[2015-08-28 21:21] fosterlynn opened #9 "Agents and their relationships vocab"
I'm wondering if we can/should move ahead with a proposal on this soon?  I think Holodex is getting settled into their agent model, which closely matches NRP's model.  We can also bring in what we learn from the people involved with the Mutual Aid Network in Madison, who is looking to create interoperability between WeZer and Community Forge time bank software, and later with other time bank softw

[2015-08-28 23:37] elf-pavlik commented on #8
Interesting, this sounds in a way similar to what I recently replied to @rhiaro about need for direct relations, qualified relations and activities and using them together to express knowledge like you just mention.

https://lists.w3.org/Archives/Public/public-social-interest/2015Aug/0026.html

[2015-08-29 11:00] bhaugen commented on #8
Afterthought: the history of an agent's performance in using a skill in productive work can be a more-accurate measure of their reputation and qualifications than subjective ratings or academic credentials.

[2015-08-30 06:43] ahdinosaur commented on #9
keen. i'll draft up my proposal for the logical model, which is basically https://github.com/openvocab/agent/issues/1#issuecomment-131638813 plus https://github.com/openvocab/agent/issues/5#issuecomment-131821975.

[2015-08-31 08:39] elf-pavlik commented on #8
:+1:

More than seeing someone's certificate in proficiency with JavaScript, I would prefer to see open source code and history of git commits. http://git2prov.org/

[2015-08-31 08:48] elf-pavlik commented on #9
@ahdinosaur please make sure to have examples for all used constructs, preferably in JSON-LD. Similar to http://www.w3.org/TR/activitystreams-vocabulary/

[2015-08-31 12:19] fosterlynn commented on #9
Definitely we need to end up with examples in JSON-LD, good suggestion to use the AS doc as an example.  If @ahdinosaur wants to do those up front, that's cool. @elf-pavlik  I don't need those for initial discussion, do you?  If so, let's go that direction, if not, let's get the basic model out there first, which I'm hoping we can quickly agree on at this point.  The harder part will be in the imp

[2015-08-31 13:56] fosterlynn commented on #9
@ahdinosaur Sorry, please ignore what I said re. the model.  See edit.

[2015-09-01 00:08] ahdinosaur commented on #9
:+1: for examples in JSON-LD, #somebodyshould. (i'm a bit flooded with other work at the moment so not sure how much i'm able to do.)

[2015-09-01 13:28] ahdinosaur commented on #9
so to tick off the first box, how we do feel about my logical model proposal?

[2015-09-01 13:59] fosterlynn commented on #9
@ahdinosaur Love getting back to the simpler model!  And thanks for drawing it up! Questions for discussion:
1. Should we model Agent as superclass of Person and Organization, which seems to be the most common out in LOD land?  Then we would end up with a fairly small number of subclasses, like people might want to add Group or Circle or Network.  Or not.
2. Connected to 1., are you thinking that

[2015-09-01 16:22] fosterlynn commented on #9
@ahdinosaur Here are some possible property additions to consider, nothing a showstopper, all optional:

Agent.primaryLocation -- would help us connect to mapping apps.  Might come in with existing vocab.

Relationship.status (active, inactive, potential)
Relationship.startDate
Relationship.endDate
(Or if we think LOD, maybe everything provided is active, current, etc.?)

And then something to cov

[2015-09-01 19:17] fosterlynn commented on #9
Some existing vocabs:

Vcard: http://www.w3.org/TR/vcard-rdf/
- Organization: http://www.w3.org/TR/vcard-rdf/#d4e2121
- Individual: http://www.w3.org/TR/vcard-rdf/#d4e1749
- Group: http://www.w3.org/TR/vcard-rdf/#d4e1667
- Kind: http://www.w3.org/TR/vcard-rdf/#d4e1819 (superclass of Person, Organization, Location, Group)

FOAF: http://xmlns.com/foaf/spec/
- Agent: http://xmlns.com/foaf/spec/#term_

[2015-09-01 20:16] fosterlynn commented on #9
Also, I looked at the Activity Stream context: http://www.w3.org/ns/activitystreams. It has lots of references.  Some things that might be relevant:

Org: http://www.w3.org/TR/vocab-org/#overview-of-ontology, we looked at this early on

Prov: http://www.w3.org/TR/2013/REC-prov-dm-20130430/#component3

Good Relations: http://www.heppnetz.de/ontologies/goodrelations/v1#uml - very business-y but thor

[2015-09-01 20:34] fosterlynn commented on #9
Looking around and thinking about Agent subclasses vs AgentType, I see an interesting example in the Prov link above.

Can we do it this way?  Define Agent with subclasses.  Define a property called agentType, which is limited to the values of the subclasses of Agent.  Use that property when we need an agent type, like in RelationshipType for sourceAgentType, targetAgentType, and contextAgentType.

[2015-09-01 23:39] ahdinosaur commented on #9
i've come back to the position that we should do what is best rather than what is most common, so in this case i think flexible `AgentType` objects are more powerful than restricted subclasses. being compatible with existing LOD is not a huge priority for me.

yes.

2 instances (one for each direction) of a relationship is the proper way to model it, but what's most important is the user experienc

[2015-09-01 23:54] ahdinosaur commented on #9
i should rephrase this as: i don't want us to give up functionality for the sake of compatibility, but i'm happy to alias to existing LOD property names where appropriate.

[2015-09-02 00:53] bhaugen commented on #9
I'll be interested in how @elf-pavlik and the LOD enthusiasts work with this set of issues.

In other words, how do the LOD conventions work with common programmer conventions? Can everybody work together?

Or if I get my head around LOD conventions, will I like them better?

[2015-09-02 01:12] fosterlynn commented on #9
@ahdinosaur I can totally get behind this thought.

Question: In Enspiral (or other Holodex data you know about) what are the agent types?  In networks we work with, I keep coming back to the thought that there aren't really any besides what people tend to use as standard subtypes.  If one shows up, it tends to be a role in a relationship, not an actual type of agent.  But I have a limited set of

[2015-09-02 01:16] fosterlynn commented on #9
@ahdinosaur How so?  Is there different data when it goes the other direction?  Or more a question of source of the data?

[2015-09-02 03:00] ahdinosaur commented on #9
the Enspiral use case i'm basing this on is ["Open OS"](https://docs.google.com/document/d/1as22xHOG5JzxKb8sDZW4iCyQHh8st52g3bAXoYzoYHc/edit?pli=1), where there are 4 agent types: Person, Pod, Community, and Network.

yeah, i could see there being a property which says whether the agent could have sub-agents (members), but i'm holding off on that until i know for sure it's necessary, as it might n

[2015-09-02 13:51] fosterlynn commented on #9
OK cool.  I'm going to attempt to document what we have so far with more-or-less agreement, with some questions or notes interspersed.  Once we get a minimal model agreed to, I'll update the readme and issue a pull request; and could start other issues for the specifics we are still discussing while we continue on the check box steps for the basic model.

AgentType:
-  id: required url
-  name: op

[2015-09-08 19:40] fosterlynn commented on #9
@ahdinosaur @elf-pavlik

Mikey, elf was talking about thinking about the relationships in a higher level of abstractions.  One example is to think of a relationship like a rdf triple, subject-predicate-object.

I don't think I actually want to step up to a higher level of abstraction generally, maybe topic for a whole other discussion.  But I do like the terms subject and object perhaps better tha

[2015-09-09 01:18] fosterlynn opened #11 "Model for 2 directions of a relationship"
In issue #9 we discussed the obverse relationship and obverse relationship type, see that for the history of this discussion.  I'm starting a new issue so we can continue to discuss while finalizing the minimum core Agent model and JSON-LD recommendations.

My concern: It really is only one relationship in many cases.  Perhaps Friend is an exception?  But in all the use cases we are dealing with i

[2015-09-09 01:32] fosterlynn commented on #9
Another note about the obverse relationship question: I left off the labels until this is resolved.  Probably an open question what labels to use, we and holodex have a different set.

[2015-09-09 01:46] ahdinosaur commented on #11
we're gonna try out the vocab i proposed in https://github.com/openvocab/agent/pull/10 with bi-directional relationships, i'll report back on how it goes.

[2015-09-09 01:54] ahdinosaur commented on #9
yeah, i agree that relationships are akin to rdf triples (subject, predicate, object), as rdf triples are akin to graph nodes and edges. the names source and target come from existing language around graph edges, i'm fine with subject and object as well though.

[2015-09-09 01:56] ahdinosaur commented on #5
btw, work in progress vocabs for [QueryType](https://github.com/holodex/app/blob/12fb4f087ebce587e18dc7e9b8aa1ddf3b6c25d1/src/node_modules/query-type/vocab.js) and [Query](https://github.com/holodex/app/blob/12fb4f087ebce587e18dc7e9b8aa1ddf3b6c25d1/src/node_modules/query/vocab.js).

[2015-09-09 02:00] fosterlynn commented on #11
@ahdinosaur sounds good.

[2015-09-09 02:26] ahdinosaur commented on #11
although to be fair, our [data](https://github.com/holodex/enspiral-data) only records one direction of the relationship, so i'm actually not sure what we'll do yet. i'm thinking either automatically generate the reverse or have a way to infer the obverse relationship, as i do think many relationshipTypes do make sense to have an obverse (especially to specify obverse labels, but also as a way to

[2015-09-09 11:18] bhaugen commented on #11
@ahdinosaur - what does obverse mean to you?
http://the-difference-between.com/inverse/obverse
http://dictionary.reference.com/browse/obverse

[2015-09-09 11:42] ahdinosaur commented on #11
@bhaugen corresponding, from the other side, symmetric, counterpart, ... idk.

i wasn't sure what word to pick, so i went with 'obverse'. better suggestions welcome, it might be easiest to go with 'reverse' which is an existing term, but it didn't feel semantically adequate and i'd rather alias to that later on.

[2015-09-09 11:56] bhaugen commented on #11
That does not seem to be its dictionary definition. I had never encountered the word before, which is why I looked it up.

[2015-09-09 12:24] ahdinosaur commented on #11
ah i must have been under a wrong impression. what's a better word then? i'm not tied to obverse.

[2015-09-09 12:32] bhaugen commented on #9
http://english.stackexchange.com/questions/22621/what-are-the-differences-between-inverse-reverse-and-converse
That seems to somewhat contradict the previous links about obverse that I posted above, but confirms my opinion that obverse is seldom used.

So I guess I would go with inverse or reverse. But I don't care that much. I didn't like obverse because I had never encountered it before and I do

[2015-09-09 13:43] fosterlynn commented on #9
Reading the definitions from above, I like reverse the best.  But I also don't care that much and will go with whatever people want.

BTW, we will need the name whether there are pairs of RelationshipTypes or pairs of labels as properties of one RelationshipType.

[2015-09-10 12:11] elf-pavlik commented on #9
@fosterlynn @ahdinosaur in terms of _predicate_/_property_ (or its sub property _relationship_ as used in AS2.0), please note distinction between defining and using instances of owl:Class and rdf:Property which I attempt to explain in https://github.com/w3c-social/social-vocab/wiki/Verbs---owl:Class-vs.-rdf:Property (you can replace follow with member, not a verb, but used in reverse direction as

[2015-09-10 12:52] ahdinosaur commented on #9
@elf-pavlik looks awesome. :smile: are there any changes we need to make here in order to support that logical model?

[2015-09-10 19:17] fosterlynn commented on #11
@ahdinosaur  I'm wondering if the reason you are thinking of Relationship as 2 instances, one for each direction, is that you are thinking the 2 agents might reside on different platforms and possibly different servers?  So from the perspective of the target (or object) agent, the relationship would be reversed?  And the relationship might exist in duplicate anyhow, depending on the caching of tha

[2015-09-10 19:59] fosterlynn commented on #9
@elf-pavlik I think I follow your train of thought: The way to get the 2 labels in addition to the relationship name (which is the property) is to name a collection (which the agents will contain) with the label name in the proper direction.  So I have a collection of organizations which I am a member of, and each organization will have me in its hasMember collection.  (Correct me if I am wrong!)

[2015-09-10 21:47] elf-pavlik commented on #9
I argue that by defining a verb _follow_ as an instance of rdf:Property you don't need _Follow_ (a sub class of _as:Activity_), don't need _Following_ (a sub class of _as:Relationship_), also don't need to define reverse/inverse properties for each verb on vocabulary level - so follow == isFollowing and you get hasFollower simply by reusing follow and swapping values of object and subject. Similar

[2015-09-10 22:02] fosterlynn commented on #9
@elf-pavlik Sorry still don't get it.

So where is the text isFollowing and hasFollower (for a label for example) documented?  Where does it say follow == isFollowing?

[2015-09-11 00:46] ahdinosaur commented on #11
@fosterlynn nah, i've realized [having multiples sources of truth](https://github.com/openvocab/agent/issues/7) is separate from bi-directional relationships.

the reason for bi-directional relationships, in my mind, is for semantic reasons. for a relationship like "mentors", it's important to be able to answer "what is the relationship between the mentee and the mentor" (i.e. "is mentored by")? i

[2015-09-11 00:56] elf-pavlik commented on #9
http://richard.cyganiak.de/blog/2006/06/an-rdf-design-pattern-inverse-property-labels/

[code]

[2015-09-11 01:49] ahdinosaur commented on #11
although, if we look at @elf-pavlik's [most recent example](https://github.com/openvocab/agent/issues/9#issuecomment-139421570), even a uni-directional relationship like 'follows' has reverse RelationshipType (denoted by `owl:inverseOf`), so maybe as a rule every RelationshipType has a reverse.

[2015-09-11 03:27] ahdinosaur commented on #11
related references (for my own notes):
- https://github.com/json-ld/json-ld.org/issues/221
- http://www.w3.org/TR/owl-ref/#inverseOf-def

[2015-09-11 09:39] elf-pavlik commented on #11
Once again, why do you need to create sub classes of _Relationship_ (rdfs:Class/owl:Class)?
Using instance of rdf:Property and swapping values of subject and object in a qualified relation (modeled after [reification](http://www.w3.org/TR/rdf-schema/#ch_reificationvocab)) seems to do the job to handle both ways.
https://github.com/w3c-social/social-vocab/wiki/Verbs---owl:Class-vs.-rdf:Property#qua

[2015-09-11 12:11] fosterlynn commented on #9
@elf-pavlik Thanks!  So basically you can define properties (labels in this case) of an rdf:Property..... ok cool.... looks just like our RelationshipType....  :smile:

[2015-09-11 12:34] fosterlynn commented on #11
Or more precisely, every relationship type label has a reverse label?  This makes sense to me, because even in a one way relationship like follows, you might want to display all the followers of someone.

[2015-09-11 12:51] fosterlynn commented on #11
Sounds good.  This should flesh out where we might want 2 things (objects, whatever).

I don't think anyone is advocating for subclasses, as far as I can tell?  Ha ha, remember all that early discussion on type classes vs subclasses for proliferating user-defined things?  I'm glad to find a way we can do it without subclasses.  Although I freely admit I do not get all the LOD think yet!  Still lea

[2015-09-12 02:13] ahdinosaur commented on #11
i'm not very learned about rdf or owl, so i'm mostly thinking in terms of logical models independent of how to formalize them with existing linked data specs. in my limited understanding, it seems like what you're suggesting is exactly our intention.

here's an attempt to model in JSON-LD the relationship of @fosterlynn mentoring me within OpenVocab:

[code]

[2015-09-12 02:23] ahdinosaur commented on #11
here's a another attempt to model in JSON-LD the relationship of me as a member of Enspiral:

[code]

[2015-09-12 09:18] elf-pavlik commented on #11
thanks @ahdinosaur! what do you think about

[code]

reason for using blank nodes and not giving URI for reverse/inverse properties:
http://richard.cyganiak.de/blog/2006/06/an-rdf-design-pattern-inverse-property-labels/

[2015-09-12 09:35] ahdinosaur commented on #11
nice work @elf-pavlik. :smile: it's good to know that our logical model is such that we'd easily be able to translate to that format if we want to output data compatible with these LOD specs. thanks heaps for your help with this, i'd have no idea how to interface with these LOD specs.

i notice the change back to use `foaf:Agent` and `foaf:Person`, so worth mentioning that https://github.com/openv

[2015-09-12 10:51] elf-pavlik commented on #11
@ahdinosaur we had discussion with @fosterlynn that one can define in very flexible way (eg. via CMS style interface) new instances of rdfs:Class and rdf:Property. I see impression of needing to 'restrict' to existing established vocabularies as misunderstanding of how Linked Data works.

No one stops you from using

[code]

[2015-09-12 11:02] ahdinosaur commented on #11
@elf-pavlik ah sweet. is it possible for you to give an example `AgentType` defined in this way (or anything that could be used as a `@type`)? i'm aware that anyone can make up their own vocabs, but i'm not learned of the format and how to programmatically generate compatible classes / properties from our data. again, this is super helpful, thanks for educating us, i'm sorry for being so jaded.

[2015-09-12 12:05] elf-pavlik commented on #11
@ahdinosaur you can start by simply assigning for each property and class a HTTP URI in namespace which you control. Even if you to get started just respond with HTTP 404 it doesn't matter, you can use those terms in your data already!

[code]

Later you can provide HTML(+RDFa) / JSON-LD / Turtle etc. definitions with some more useful information.

[code]

But once again **YOU DO NOT NEED IT** jus

[2015-09-12 13:05] ahdinosaur commented on #11
@elf-pavlik makes sense, `rdfs:Class` and `rdf:Property` seem very generally useful, cheers for sharing how to use them.

[2015-09-12 19:41] fosterlynn commented on #11
@elf-pavlik @ahdinosaur  Great discussion, thanks to both of you for getting really concrete on this!! :smile:

[2015-09-12 20:43] fosterlynn opened #15 "AgentType LOD implementation"
Taking this off of #9 and #11 , hoping we can come to a relatively focused decision, keep chipping away.  (At least for this stage to move forward with.)

Two views have been expressed:
1. @elf-pavlik I think (according to his examples) would rather use foaf:Agent, foaf:Person, etc., and further subclass for agent types not already defined in vocabs.  Examples that have come up: Community, POD, Ne

[2015-09-12 20:52] fosterlynn commented on #15
In either case, we will need to decide what existing vocab(s) we want to tie in with.  @elf-pavlik can help a lot on this, he is more in tune with the state of existing vocabs.  See https://github.com/openvocab/agent/issues/9#issuecomment-136832024, and the comment right after.

I think we need:
Agent, Person, Organization

Might want Group?  Instead of Organization or as a looser variant of Organ

[2015-09-12 22:38] fosterlynn opened #16 "Let's think about implementing this"
We can't do this quite yet, but let's start to let our minds wander to the future....  thinking out loud....

Once we get a tentative definition of the vocab for agents and their relationships, let's try an implementation.  What if we could graph the links of the people and groups involved in the open vocab efforts to start?  So looking at people in Enspiral, Mikorizal, PLP, Pixel Humaine, Transfo

[2015-09-12 22:39] bhaugen commented on #16
Dogf00d!

[2015-09-13 10:17] elf-pavlik commented on #15
:+1: VCard, FOAF, Org, Schema.org (for now picking whatever works from any of them and than participating in process of clarifying such choices with [Social IG](https://www.w3.org/wiki/Socialig) and [Web Schemas](http://www.w3.org/wiki/WebSchemas) groups.

Let's keep in mind possible future data migrations and further aliments via constructs like http://schema.org/supersededBy . I if you can't qui

[2015-09-13 11:59] fosterlynn commented on #15
Oops, sorry, I see I commented on the wrong issue, should have been #16 .  I'm going to repeat my comment and elf's reply in the correct issue.

[2015-09-13 12:01] fosterlynn commented on #16
Copying the following from #15 where I put it by mistake.

In either case, we will need to decide what existing vocab(s) we want to tie in with. @elf-pavlik can help a lot on this, he is more in tune with the state of existing vocabs. See #9 (comment), and the comment right after.

I think we need:
Agent, Person, Organization

Might want Group? Instead of Organization or as a looser variant of Org

[2015-09-13 13:17] elf-pavlik commented on #16
I will participate with my personal profile on _wwelves.org_ and organizational + events on _hackers4peace.net_

We need various UIs which can fetch data from all those web resources. I would propose staring with 3
- http://holodex.enspiral.com/ @ahdinosaur
- http://metamap.ouishare.net/ @poietic @Connoropolous @Bortseb
- https://data.openoil.net/ @jmatsushita + http://influencemapping.org/

I bel

[2015-09-13 14:01] Connoropolous commented on #16
Speaking for myself, I'm excited to see that this conversation is happening, and will be happy to participate. @Bortseb and I have been working on a tool that integrates with slack and collects data programmatically from reactions, and we have been thinking of using it as a foundation for building a few different apps that serve different network self-documenting efforts. So that could include col

[2015-09-13 15:00] elf-pavlik commented on #16
@Connoropolous sounds interesting? Could you please add some details about what kind of relationships between agents you plan to express? https://github.com/openvocab/agent/wiki/Relationships

When it comes to _reactions_ you may like to take a quick look at ActivityStreams 2.0 drafts
- http://www.w3.org/TR/activitystreams-core/
- http://www.w3.org/TR/activitystreams-vocabulary/

[2015-09-13 17:11] Connoropolous commented on #16
@elf-pavlik we don't have anything specific yet, but we've been following along with the data structure being used in the enspiral-data repository and keeping it flexible enough to be able to work with that

[2015-09-13 17:30] fosterlynn commented on #16
@Connoropolous sounds interesting, looking forward to it!

[2015-09-13 21:16] fosterlynn commented on #15
@elf-pavlik Thanks for the recommendations!  I'm looking at them.  Questions:

Can we ignore properties of classes that don't make sense to this vocab, or if we use a class like FOAF:Agent, are all the properties that are defined for the class then valid for our vocab?

Can we mix and match?  Like use FOAF:Agent with a property of Schema.org:name?

Can we change the hierarchies? Like do we need to

[2015-09-13 21:40] fosterlynn commented on #15
@elf-pavlik Actually, looking deeper into FOAF, I see there are properties that are not documented as belonging to a class, but it looks like you can actually use them that way.  Like FOAF:nick or FOAF:name.

Is this correct?  Or does this have to do with these properties having status of "testing"?

And thanks for your patience as we get more up to speed! :smile:

[2015-09-14 02:24] ahdinosaur commented on #16
@simontegg and i are keen to implement this via Holodex, as it's what we're already doing (or at least intend to do). :smile_cat:

[2015-09-14 02:31] ahdinosaur commented on #15
:+1:. keen to hop on board the RDF train with respective to our LOD vocab and see where we go. :train2: kudos to @elf-pavlik for enlightening us on how to do `AgentType` / `RelationshipType` models with RDF [[0](https://github.com/openvocab/agent/issues/11#issuecomment-139752010)] [[1](https://github.com/openvocab/agent/issues/11#issuecomment-139742356)].

[2015-09-15 16:43] fosterlynn commented on #15
Status update: I'm in process of implementing a tentative JSON-LD output for agent stuff from NRP.  Still a lot to do, but I have minimal output.  Will publish out for your feedback when it is more or less working.  And continue to update it with ongoing decisions on the vocab.

@elf-pavlik I am re-reading some of the Working Ontologist, getting more out of it this time through.  Will need to do a

[2015-09-15 20:02] elf-pavlik commented on #15
@fosterlynn properties 'belong' to class in Object Oriented Programming but **NOT** in RDF(S)/OWL !!!

http://www.hydra-cg.com/spec/latest/core/#documenting-a-web-api

[2015-09-15 20:56] fosterlynn commented on #15
@elf-pavlik  Yes, starting to get that, I'm almost there with you!  So the properties are defined by themselves, and then they can be assigned to a class (or more than one class) if you want.  And the vocab can define that if you use that property, you are saying it implies that class, if you want, or not.

Where I have trouble is if I look at the properties foaf assigned to let's say Agent, I say

[2015-09-15 21:05] elf-pavlik commented on #15
Only if one uses RDFS reasoner it can infer additional statements based on _domain_ and _range_ of properties. http://www.w3.org/TR/rdf-schema/#ch_properties

BTW I find explanations of all those nuances in Working Ontologist book very helpful!

[2015-09-15 21:15] fosterlynn commented on #15
Me too.  But I can only understand so much at a time, need to go back thru it every so often....

[2015-09-15 21:32] elf-pavlik commented on #15
@fosterlynn please let me recognize here your rapidly growing understanding of various nuances of Linked Data modeling! :smile:
I think we all could use some clear reference in lines of "Linked Data for people with background in Object Oriented Programming" #TODO

[2015-09-15 21:36] bhaugen commented on #15
+1000

[2015-09-15 21:43] fosterlynn commented on #15
@elf-pavlik well, it is worse than that.... what about those of us who are so old we started with spaghetti code on punch cards reading and writing to un-indexed files, had to learn structured code and modularity, then relational databases, then OOP.  Then there's my much older sister, who started with programming by wiring boards...

[2015-09-20 13:59] ahdinosaur opened #19 "generate valid context.jsonld from vocab"
from our [vocab](https://github.com/openvocab/agent/#agent-vocab) we should generate a valid '@context' for our RDF / JSON-LD objects, but i'm not sure what the syntax is.

TODO:

- [ ] generate valid context.jsonld

references:

- [simplerdf#context](https://github.com/nicola/simplerdf#tip)

@elf-pavlik do you have any references to the context format in more detail? as in, what do `@id` and `@ty

[2015-09-20 14:13] fosterlynn opened #20 "experiments to produce JSON-LD agent data"
Starting a new issue for this to track it separately, I will continue to provide updates.

As a first experiment, I have been working on getting json-ld out of NRP for agents and their relationships, partly for my own education, but also so we can eventually actually do that as part of this collaboration.  I'm posting my current results, which are NOT DONE.

You can see them here: http://dhen.webf

[2015-09-20 14:25] ahdinosaur opened #21 "proposal: use rdf:Property instead of rdfs:Class for AgentType"
i'm not fully aware of the semantics of rdf:Property vs rdfs:Class, but we're using one for one type (Class -> AgentType) and one for the other type (Property -> RelationshipType). what's the pros and cons of each?

as a strike against Class, i'm wary of [a `@type` that's not one of the `{Agent,Relationship}{,Type}` symbols](https://github.com/openvocab/agent/blob/master/vocab/Agent.js#L14-L26). i

[2015-09-20 14:27] fosterlynn commented on #19
@ahdinosaur Yes! Thanks!

I have learned some things about the syntax, I can help some.  Although still way behind @elf-pavlik !  (So please correct if I am wrong below.)  And I also have some questions around context in my generated json-ld, still studying.

@id is the URI reference for the "object".
@type is the class (rdfs:Class) - like could be a rdf:Property or a foaf:Person, etc.

If you lik

[2015-09-20 14:41] fosterlynn commented on #21
I've been tentatively thinking for AgentTypes, we use foaf:Agent, foaf:Person, foaf:Organization (this one I'm not sure it is the best).  Also could use foaf:Group, that might suit people's thinking better for looser organizations.  But in any case, we start with an existing hierarchy like this one.  Then when a network defines other agent types, we subclass foaf:Person, foaf:Organization, or foaf

[2015-09-20 14:47] ahdinosaur commented on #21
hmm, that subclassing scheme is what i was originally thinking, this was just a new thought. what makes RelationshipType more like a Property than AgentType? for the implementation, it seems weird to handle two cases of the same type object pattern, but that's only a feeling.

[2015-09-20 14:56] ahdinosaur commented on #20
wow this is really great. :tada:

@simontegg now to feed this data (and any that complies with our common vocab) into our Holodex ui. :smile:

[2015-09-20 15:41] fosterlynn commented on #20
@ahdinosaur  don't get too excited, see notes and caveats above.  Not ready to feed in yet!!  (Although I am excited, really happy to be following this path at the moment, and I'm glad you are excited too.)

And, when you get the Holodex data structure pretty finalized, I'll create whatever you like - csv is fine.  This may involve needing to add some fields to NRP, so I'd like to wait until Holod

[2015-09-20 16:01] bhaugen commented on #20
Yes yes yes! Our current radial graph is out of control with the quantity of data in Sensorica's network (for example), and I don't want to take the time to rework it if Holodex might become available.

[2015-09-22 07:28] fosterlynn commented on #21
Thinking more about this question - I don't really know why theoretically to think about agent types as classes and relationship types as properties.  In our model, we have other properties related to both.  And in our more familiar OOP paradigm, you can't really group properties except through a class, so we started out with both being a class.

But it does seem like that difference is pretty con

[2015-09-22 07:34] fosterlynn commented on #19
@ahdinosaur I'm going to start working on the context if that is OK with you.  Let me know if you would rather do it!  Or if we could work together in some way.  Although I think given the task and the time differences, that would be kind of hard.

[2015-09-22 08:23] ahdinosaur commented on #19
@fosterlynn that sounds great, super keen for us to get a proper `@context`. :) then later when i have capacity i'll use it as an example to fix my [schema-jsonld-context](https://www.npmjs.com/package/schema-jsonld-context) module.

[2015-09-22 17:38] fosterlynn commented on #21
@ahdinosaur Continuing to explore other contexts, am seeing one example where the relationship type IS a class!  This is in vcard.  Here is the super class, Relation Type: http://www.w3.org/TR/vcard-rdf/#d4e2246.  Has a bunch of subclasses.

Still assessing, but wanted to get this out here as an exception to my last post.

[2015-09-22 18:22] fosterlynn opened #22 "Name for the vocabulary"
We will need a name for the vocab.  I'm thinking one name for the whole effort, not just agent, even though I know I am at that level in the issues.

So, what is the scope?  And what is a good name for that scope?

How about Collaborative Economic Networks?

[2015-09-22 18:29] fosterlynn opened #23 "URL for the vocabulary"
We'll need to host the vocab somewhere.  Like the context and the documentation.

Isn't there some service for hosting random vocabularies?  Or should we pony up for a domain name and use someone's server?  Or are we connected enough to w3c?

The URL will need to be kind of permanent.

[2015-09-22 18:32] fosterlynn commented on #22
ping @almereyda @oceatoon @acorbi

[2015-09-22 19:46] elf-pavlik commented on #21
Let's try to keep in mind [Direced Graph](https://en.wikipedia.org/wiki/Directed_graph) model (Labeled directed graph in case of RDF). We have nodes and edges with labels. In most cases instances of rdf:Property get used for labels of an edge. Eg.

[code]

@ahdinosaur do you have any case where you would use type of an agent as a label for an edge between two nodes?

@fosterlynn to my understandin

[2015-09-22 20:09] elf-pavlik commented on #19
- http://www.w3.org/TR/json-ld/#the-context

`@type` inside of `@context` works bit differently than in the rest of the document! You may need to understand this construct:

**`"foo": { "@type": "@id" }`** - defines foo as [ObjectProperty (not DataProperty)](http://www.w3.org/TR/2012/REC-owl2-primer-20121211/#Entity_Declarations) and will assume its values being an URIs or nested objects with `@id

[2015-09-22 20:20] fosterlynn commented on #21
@elf-pavlik Very good point about the directed graphs, makes sense to me, re. what is classes and what is properties.

No, I'm not considering @ahdinosaur 's notation from before - you aren't either, are you Mikey?

I'm working on the context as we speak, will publish when I get something done, and look forward to lots of feedback!

[2015-09-22 20:26] fosterlynn commented on #19
@elf-pavlik thanks, studying.

[2015-09-22 22:25] fosterlynn commented on #19
@ahdinosaur @elf-pavlik I created a very rough initial draft of @context for agent data.  I decided that it would be the start to one @context doc for the whole vocab, so I created a new repo for this and a webpage for the doc, and whatever else we need for the vocab officially.

I have questions and notes.  (I could probably take it further with some more research, but wanted to get it out there

[2015-09-22 22:32] fosterlynn commented on #19
Also - I made executive decisions that aren't meant to be executive decisions on where to use existing vocab.  That is all meant to be changed when we actually decide!

[2015-09-22 23:21] ahdinosaur commented on #21
yeah, this makes sense now.

nah. the reason i introduced this issue was because i find the semantics around `@type` to be confusing (you have to think about it differently depending on whether it's a class or property) and was wondering if it was possible to make it more consistent. now i understand that it's not a good idea, at least the difference is there for a reason.

haha, i sure am, i'm [s

[2015-09-22 23:22] #21 closed

[2015-09-22 23:23] ahdinosaur commented on #23
i'll host a server, we cool with `openvocab.is`?

[2015-09-22 23:28] fosterlynn commented on #23
Let's think about the name - see issue #22

But also - awesome @ahdinosaur !

[2015-09-22 23:41] ahdinosaur commented on #23
as mentioned in https://github.com/openvocab/definition/issues/2, it's probably easiest if we host it on GitHub pages, so that way it is automatically linked in with our GitHub org and repos.

[2015-09-23 00:08] ahdinosaur commented on #22
throwing :spaghetti: at the wall
- network social economics (`nse`)
- social network economy (`sne`)
- network socio-economics (`nse`)
- network planning and accounting (`npa`)
- resource, event, agent (`rea`)
- network flow streams (`nfs`)
- open value network (`ovn`)
- organizing system (`os`)
- network agent economy (`nae`)
- network agent (`na`)
- socio-economic agent (`sea`)
- social economy

[2015-09-23 04:55] ahdinosaur commented on #22
i see the scope as being "abstract data streams to define, plan, and account networked socio-economic systems" or "abstract data streams for organizing socio-economic agents".

[2015-09-23 14:05] elf-pavlik commented on #23
I recommend https://w3id.org/ which in turn can redirect to _openvocab.is_
- https://github.com/perma-id/w3id.org/issues/81
- https://www.isnic.is/en/whois/mini?type=all&query=openvocab

@ahdinosaur If we prefer to use independent domain for namespace, I would propose requirement of registering it for min 5 years and at least 3 people having admin access to manage it!

[2015-09-23 14:12] elf-pavlik commented on #6
IMO vocab should not assume any particular programming language! At he same time using JSON-LD [similar to hydra-core](https://github.com/HydraCG/Specifications/blob/master/spec/latest/core/core.jsonld) makes sense to me. I offer my help with starting to write agent.jsonld :construction_worker:

[2015-09-23 14:37] pmackay commented on #6
I think what would be great to make this vocab more accessible is data model documentation along the lines of http://www.popoloproject.com/. (I'm working on a similar thing here http://communitiesuk.github.io/waste-service-standards/models/ for the wildly exciting domain of local gov waste services).

[2015-09-23 14:43] bhaugen commented on #6
@pmackay - I know more than one person who is wildly excited by waste services (actually, recycling).

But seriously, when the model here gets nailed down, we should do what you propose. And if you can help, having done it before, that would be even better!

[2015-09-23 14:51] pmackay commented on #6
@bhaugen if you know anyone who might want to feed into specifications for recycling services, please connect us. Any input is very useful.

Happy to help if I can. The site I'm using/building is available here https://github.com/communitiesuk/waste-service-standards (I need to add docs on how its built). Uses http://www.mkdocs.org/, very nice project.

[2015-09-23 14:52] ahdinosaur commented on #6
@elf-pavlik @pmackay: keen. :)

agreed. the plan in my head has always been to write npm scripts that use the modified json schemas in the `.js` files to export `@context` `.jsonld`, [json-schema](http://json-schema.org/) `.json`, hydra, etc. that way we have a single source of truth for the vocab, which we reflect over many interfaces. i only have limited capacity for all the things though, happy

[2015-09-23 14:55] elf-pavlik commented on #6
AFAIK [JSON Schema](http://json-schema.org/) takes [Closed-world Assumption](https://en.wikipedia.org/wiki/Closed-world_assumption), while Linked Data/RDF work with [Open-world Assumption](https://en.wikipedia.org/wiki/Open-world_assumption). With such mismatch I don't think we can use JSON Schema to define Linked Data vocabulary...

[2015-09-23 15:00] pmackay commented on #6
@elf-pavlik I confess I'd need to see that explained with an example to understand the problem as you've described it there :-O

[2015-09-23 15:12] ahdinosaur commented on #6
@elf-pavlik the way we're using JSON schema, by describing modular data models, seems to work really well for Linked Data/RDF. JSON schema by default assumes objects can have additional properties unless you specify [additionalProperties](http://tools.ietf.org/html/draft-fge-json-schema-validation-00#section-5.4.4) is `false`, plus the schema language itself by default [accepts any additional prop

[2015-09-23 15:20] elf-pavlik commented on #6
@ahdinosaur does it also assume that any property can have as its value an object of certain type or array of such objects?

[code]

[code]

[2015-09-23 15:28] ahdinosaur commented on #6
[code]

i'm keen for a better solution, but JSON schema seems like the best interchange format that most of us are already using, it's simple and works well. in my own projects i intend to modify it with some sugar but i'll export it back to standard, or include any modifications that we all agree on (most likely additional meta-data related to Linked Data / RDF).

[2015-09-23 15:44] elf-pavlik commented on #6
1. it seems that you can't have global definition of properties eg. "name"
2. it might require to **always** use _"anyOf"_

[code]

etc. not to mention missing in your example

[code]

[2015-09-23 15:47] fosterlynn commented on #22
from @bhaugen : social economic ecosystems ==> "see"

[2015-09-23 15:50] bhaugen commented on #6
@pmackay - you might try Adam Johnson of Garbologie:
https://plus.google.com/u/0/+AdamJohnsonA/about
http://www.garbologie.com/

[2015-09-23 15:55] elf-pavlik commented on #6
@ahdinosaur does JSON-Schema have any support for language maps for Literals (strings)?
- http://www.w3.org/TR/json-ld/#string-internationalization
- http://www.w3.org/TR/activitystreams-core/#naturalLanguageValues

[2015-09-23 15:56] ahdinosaur commented on #6
@elf-pavlik true. that's why i'm keen to programmatically construct the standard JSON schemas from a modified, more opinionated JSON schema targeted at Linked Data / RDF. i've started [schema-jsonld-context](https://npmjs.org/package/schema-jsonld-context) for [converting our schema to `context.jsonld` files](https://github.com/openvocab/agent/blob/master/bin/context), but i'm hearing we also need

[2015-09-23 16:09] elf-pavlik commented on #6
I would propose starting with JSON-LD file which uses RDFS & OWL for vocab definitions. When it comes to validations and form generations we may need to catch up on work in [Data Shapes WG](http://www.w3.org/2014/data-shapes/wiki/Main_Page)
- http://w3c.github.io/data-shapes/shacl/
- http://shexspec.github.io/ | www.w3.org/Brief/NDY1

[2015-09-23 16:12] fosterlynn commented on #6
@ahdinosaur  I need to understand why to even think about any other intermediate step.  And if we are using some intermediate step, why to publish any of that, it seems to mostly have caused confusion?  (I'm pretty sure I am missing something in the thinking since I am so new to this, so at this point asking just for information so I can even have an opinion.)

For example, for NRP, the library we

[2015-09-23 16:13] fosterlynn commented on #6
@elf-pavlik sorry missed your post with mine, will check those too

[2015-09-23 16:15] fosterlynn commented on #6
@ahdinosaur see the gitter conversation... elf trying to ping us....

[2015-09-24 23:03] almereyda commented on #23
Any reason why [purl.org](https://purl.org/docs/index.html) would be out of the game?

It has some use http://lov.okfn.org/dataset/lov/vocabs/essglobal

But can be any domain, and especially in terms of autonomy, a GitHub distangled hosting can also have its upsides.

[2015-09-24 23:09] fosterlynn commented on #23
@almereyda Yes, I've seen it while poking around for vocabs.  Do you think it will be around for a while?   Do you know who runs it, pays for it, etc.?  (So I don't have to do my own research...  :smile: )

[2015-09-24 23:29] almereyda commented on #22
I feel personally delighted having been raised here. Citing @fosterlynn:

- `sss` swarm stream stack
- `sen` socio-economic networking
- `npr` networked process reciprocity
- `ce` convivial economics ([not in use](http://lov.okfn.org/dataset/lov/vocabs?&page=4) - remember when we would go fishing for two-letter domains? now it's whole namespaces we're appropriating) - could be open enough for futu

[2015-09-25 00:03] fosterlynn commented on #22
@almereyda  for sure, jump on in, very glad you're here!

Yeah, I can maybe sort of get where they are coming from.

Exchange here just means things change hands without being changed themselves vs Process they get created, used, etc.  Like I give you half my cookies and you give me a glass of your milk.  That's an Exchange.

[2015-09-25 00:12] ahdinosaur commented on #22
@almereyda happy for you to join us. :smile_cat: really keen to bring more awesome minds together.

[2015-09-25 00:46] ahdinosaur commented on #22
i think there's three ideas i want to capture in our name, based on [what i consider to be our scope](https://github.com/openvocab/agent/issues/22#issuecomment-142491025):
- fractal networks of social agents (i.e. [holons](https://blog.dinosaur.is/life-as-a-holon/))
- define, plan, account for economic systems (i.e. [rea](https://github.com/valnet/valuenetwork/wiki/Concepts))
- streams of activity

[2015-09-25 02:05] ahdinosaur commented on #6
that sounds great, let's [do it](https://openvocab.github.io/). :)
- [ ] [a context file in json-ld format](https://github.com/openvocab/openvocab.github.io/blob/master/context.jsonld)
- [ ] [a webpage such as w3c projects do (like http://www.w3.org/TR/activitystreams-vocabulary/) for human readable information, including descriptions, pics, examples in json-ld (and probably others), etc.](https:/

[2015-09-25 11:32] bhaugen commented on #22
@ahdinosaur - this is just me being picky, and nobody understands the distinctions I am making anyway, but still: we differentiate value flows (or resource flows) from value streams, and I don't necessarily think of value streams as kappa architecture. (Although I could always be missing something, so you could enlighten me.)

Value streams are like the Activity Stream model that @elf-pavlik and @

[2015-09-25 13:10] fosterlynn commented on #22
How about:

value flows (vf), kind of riffs on activity streams, simple

[2015-09-25 21:21] elf-pavlik commented on #23
this article also tries to answer question "Why not purl.org"
http://manu.sporny.org/2013/perma-id/

[2015-09-25 21:40] ahdinosaur commented on #22
@bhaugen :+1: everything in your comment, thanks.

@fosterlynn: keen on `vf` value flows, also [not taken(?)](http://lov.okfn.org/dataset/lov/vocabs?q=vf).

[2015-09-26 00:03] fosterlynn commented on #22
Anyone not like vf value flows?  If everyone is OK, let's do it!

[2015-09-26 00:11] fosterlynn commented on #22
https://www.isnic.is/en/whois/mini?query=valueflows

[2015-09-26 13:32] almereyda commented on #22
vf:agree

_Note to self:_ GitHub doesn't allow MarkDown in E-Mail replies, despite it states so in the interface above while editing a comment.

[2015-09-26 21:05] fosterlynn opened #26 "User defined context?"
I'm trying to understand how to think about the user (network) defined agent types and relationship types.  Should they be generated as a context in the namespace of the network?  Or should they be part of the data, not the context?

On the side of context: For agent types, the things they are subclasses of will be in the context (Organization, etc.).  For relationship types, the same kinds of thi

[2015-09-26 23:42] ahdinosaur commented on #26
i was imagining we would put the abstract vocabulary as the context and the user-defined vocabulary (agent types and relationship types) as the data. my intuition tells me to avoid adding our own defined opinions to our context (any specific agent types or relationship types).

i could be convinced of having our own set of pre-defined vocabulary that we think would align with most networks, althou

[2015-09-26 23:43] ahdinosaur commented on #26
@fosterlynn great topic for discussion by the way, i've been thinking about this as well and appreciate hearing more sides to the story.

[2015-09-27 12:22] fosterlynn commented on #26
@ahdinosaur Yeah, I lean towards that too - keep it in the data.  Although to clarify, yes I would have put them in their own namespaces, i.e. dhen, sensorica, enspiral, etc.  But the more I think about it, the more I think vocabulary has to be long-lived.  And these people wouldn't even know they were creating vocabulary.

I think I'll proceed in that direction for now, and we'll see how it goes.

[2015-09-28 02:15] ahdinosaur commented on #26
we also have a use case of vocabulary authors like @joshuavial with [OpenOS](https://enspiral.gitbooks.io/os/content/en/index.html) ([initial doc](https://docs.google.com/document/d/1as22xHOG5JzxKb8sDZW4iCyQHh8st52g3bAXoYzoYHc/edit?pli=1#heading=h.odkahue79nna)) who are creating agent types (individual, pod, community, network) and relationship types (agreement, commitment, delegation) that are me

[2015-09-28 05:24] gcassel commented on #26
I think it will ultimately be very helpful to develop crowdsourced and crowdrated technical thesauri/thesauruses, within which the 'synonym matches' per term can be sorted (or resorted) according to specific projects and/or groups of raters/participants.

Thesauri certainly aren't a 'whole answer' in themselves, because terms can't be directly translated between genuinely different types of system

[2015-09-28 10:06] bhaugen commented on #26
@ahdinosaur - please explain?

Agreement or commitment to what?
Delegation of what?

Just going by the common meanings of those words, they don't seem like simple organizational relationships where (for example) one agent is a member of a pod, but relationships between two or more agents about some other object (agreement or commitment to do something together, where the "something" has its own de

[2015-09-28 18:53] fosterlynn commented on #26
@gcassel That makes a lot of sense to me in general.  Will require some collaborative processes between people and/or groups to come to some consensus on definitions I would think - as you imply with "crowdsourced and crowdrated".  But in the end will make everything more interoperable.

Besides how, a question is when.  So now, for example, the herbal network we are working with is learning and d

[2015-09-28 19:06] fosterlynn commented on #23
So, here is a proposal, based on what has been discussed and linked.

First, about the URL that everybody would see and use into the future:
- I'm hesitant to use github because it is not open source, seems like the wrong way to go long term.
- I don't have a need for our own domain name if we can count on something else that is basically supporting the commons to remain alive.  And really, it mig

[2015-09-28 21:16] ahdinosaur commented on #23
@fosterlynn :+1: for the proposal.

[2015-09-28 22:00] ahdinosaur commented on #22
began the rename to `valueflows`. :tada:

[2015-09-28 22:38] ahdinosaur commented on #23
forked [w3id.org](https://github.com/perma-id/w3id.org) and [added `valueflows`](https://github.com/perma-id/w3id.org/compare/master...valueflows:master). @elf-pavlik can i haz a review before i squash and pull request? i'm also open to waiting until we have more to show in case this invites attention.

[2015-09-28 23:15] fosterlynn commented on #22
@ahdinosaur awesome!  Closing the issue.

[2015-09-29 11:49] elf-pavlik commented on #22
@almereyda @ahdinosaur ...  **valueflo.ws** available :wink:
gandi.net allows at least 3 accounts set to access domain configuration
I also like https://iwantmyname.com/about (met founder from NZ islands in Berlin) but not sure if multiple accounts can access domain config...

[2015-09-29 12:24] fosterlynn commented on #22
@elf-pavlik does that mean you think we should get our own domain name?  (Sometimes I can't tell what you actually think! :wink: )

I'm fine with that if people think that is best - and can contribute some $ towards registering it for some time.

Bob and I have an account at Site5, so could host it for no additional money.  Would need to check on how many can access.  I'm sure others have server o

[2015-09-29 15:43] fosterlynn commented on #9
Any objections to adding foaf:nick (nickname) to the Agent?  We do have that in NRP, and it is useful.

[2015-09-29 15:59] fosterlynn commented on #20
I have a better version of the NRP json-ld feed going.  Not perfect yet but definitely better.  I need to switch off of this for a few days and do some NRP coding, will have more time after that.

Link to try: http://dhen.webfactional.com/accounting/agent-jsonld/

Known bug: I haven't figured out how to make the "nested rdf" thing work, to get the following result:

[code]

I have a question into

[2015-09-29 16:04] fosterlynn commented on #20
P.S. I'm sure there are other bugs there too that I just don't recognize.  And I haven't even put it in the jsonld playground.  If anyone spots one, let me know.  But where I want to go with it in terms of other bugs is to complete the cycle, i.e. read it in to something.  If holodex or someone else gets there, excellent!  If not, I'll work on getting a read into NRP (another instance) working.

[2015-09-29 17:02] elf-pavlik commented on #23
@ahdinosaur LGTM please squash & make PR :+1:

[2015-09-29 21:13] ahdinosaur commented on #22
@elf-pavlik keen to jump on **valueflo.ws**. [i asked our question to a friend who works at iwantmyname](https://twitter.com/ahdinosaur/status/648967867866611712), they seem pretty cool, i typically work very close to their office in Wellington, New Zealand. once we have a domain, i reckon we should stick with GitHub pages so we don't have to worry about hosting or uptime or being globally availab

[2015-09-29 21:18] ahdinosaur commented on #9
@fosterlynn i'm unsure, i'm actually thinking profile information should be a separate object as activity streams does it, that way the agent object is purely to represent an identity, which in the future could include the cryptographic keys that are part of that identity (a la [ssb](https://github.com/ssbc/docs)), but this is still in my deep mind. even if we do want to put profile information in

[2015-09-29 21:19] nupfel commented on #22
@elf-pavlik @ahdinosaur technically we can do that at iwantmyname, but all 3 accounts would have full access, not just to the DNS part, which can make ownership and unwanted changes during conflicts a legal issue, I guess. I'd recommend to create a separate account and share creds, if that's an option for you.

[2015-09-29 21:48] ahdinosaur commented on #22
thanks @nupfel. :) @elf-pavlik how do you feel about creating a separate account and sharing creds? otherwise i'm also happy with gandi.net.

[2015-09-29 22:23] fosterlynn commented on #9
@ahdinosaur you are way deeper than I am.  All those seem like valid considerations.  I think I see where you are going, people call themselves lots of stuff on profiles they use as online personas.  And there might be a use for profile or persona as a separate object.  This has in fact been a discussion point in the W3C interest group that elf got me involved in.  There is a woman named Amy Guy w

[2015-09-29 23:33] ahdinosaur commented on #9
@fosterlynn one interesting example found in [ssb land](https://github.com/ssbc/docs) is _someone else_ making a claim about your nickname, i.e. what name they call you by. e.g. my friends call me Mikey but my family call me Michael, some people have even more names for me that they make up.

[2015-09-29 23:41] fosterlynn commented on #9
@ahdinosaur let's just leave it off for now then, other priorities....

[2015-09-30 13:19] ahdinosaur commented on #9
@fosterlynn i'm happy to add something on to Agent for better labeling, we can punt on having a separate profile vocab. maybe i'm a bit relunctant about `foaf:nick` i suppose. i reckon nicknames are all part of something more general about labels, all our vocabs have labels, and i'm keen for our overall vocab to be minimal (i.e. share ontologies as much as possible). this might be a crazy idea, bu

[2015-09-30 13:24] ahdinosaur opened #27 "split Relationship and RelationshipType into separate repo"
i'm enjoying having a repo per vocab (e.g. `resource`, `process`, `exchange`), i propose we split `relationship` away from `agent`.

how do we feel about this?

[2015-09-30 13:51] fosterlynn commented on #9
@ahdinosaur OK, let's pursue.  Glad you are digging in.  I can give it a deeper look in a few days.

[2015-09-30 14:09] fosterlynn commented on #27
@ahdinosaur Clearly we have different intuitions about this. :smile:   (All the better for good discussions!)

I'm not sure how to define the way I think about it, but to me there are logical groupings where things are coupled more tightly than other places, and there is some kind of optimal size too.  When I think of Agent, I definitely include the relationships.  If we do personas, I would inclu

[2015-09-30 15:48] elf-pavlik commented on #22
thanks @nupfel :bow: @ahdinosaur @fosterlynn full access to domain sounds like what we need! can two of you create accounts (and maybe also @almereyda) and assign them to **valueflo.ws** ? I must admin having more sympathy to iwantmyname.com than gandi.net, especially that you have friend relationship :smile:

@fosterlynn w3id.org provides just redirect service and we need to redirect it somewhere

[2015-09-30 16:03] fosterlynn commented on #22
@elf-pavlik Yes, understand w3id is just redirect. So that means that our official url will be under w3id, correct?  So, if we do that, no need to do valueflo.ws or use some server other than gh for now?

Alternatively, if we do valueflo.ws, we don't need w3id, correct?

[2015-09-30 16:09] fosterlynn commented on #22
How much does iwantmyname.com cost for hosting?  That is what this is about, right, not just getting the domain name?  Just trying to catch up, sorry....

[2015-09-30 16:18] elf-pavlik commented on #22
URLs used in data for vocab terms will use https://w3id.org/valueflows/ prefix  (for stability and longevity) but we still need to publish documentation somewhere. For now https://valueflows.github.io/ should do, but it does not allow content negotiation which at some point would come handy. As I said, we don't need to rush with it and maybe better to have a call sometimes soon and also decide on

[2015-10-01 02:47] ahdinosaur commented on #27
i like [small modules that do one thing and do it well](https://github.com/mattdesl/module-best-practices#module-basics). lately i've been working with [folks at Enspiral Dev Academy](http://devacademy.co.nz/) about what we're doing here, sharing [my vision of making apps easier to design, build, and maintain by providing common abstractions you can easy install and plug together](https://github.c

[2015-10-01 03:06] ahdinosaur commented on #22
nah, we only need the domain name since we'll use GitHub pages for hosting or i have a silly heap of Digital Ocean credit if we would rather have our own server.

even with valueflo.ws, we should still use w3id as our primary URL (especially for vocab terms), but it doesn't hurt to have a legitimate domain behind the w3id redirect instead of just valueflows.github.io.

so, who wants to initiate th

[2015-10-01 08:17] elf-pavlik commented on #22
@ahdinosaur SGTM if you would like to register the domain name and use your contact info in WHOIS. Since we will use w3id.org I see no problem with starting with just one year registration and extending it later.

[2015-10-01 09:47] bhaugen commented on #27
@ahdinosaur - I like your vision, and liked it the first time I saw it. I think it follows Conway's Law in being the fitting system architecture for the evolving human organization. The questions remain of the fitting size, scope, boundaries, for each module, and more importantly (I think) how they fit and work together.

See also [visual explorer pipe dream](https://docs.google.com/presentation/d

[2015-10-01 11:38] ahdinosaur commented on #27
agreed, and i don't have an answer other than to do more learning experiments. :smiley:

makes me happy every time i see it, keen to merge the visions somehow. :fireworks:

eh, Enspiral's an amorphous gooey network of autonomous agents all with their own visions. there's some that share our vision and some that are skeptical, i've learned to collaborate with the former and not bother with the latt

[2015-10-01 11:53] bhaugen commented on #27
@ahdinosaur @elf-pavlik - re visual explorer.

When we get some real LOD published that could be linked (and I get a bit more educated on how it is supposed to work), I want to find some existing tools that will let me walk the links. Doesn't need to be visual to begin with, just needs to support walking. That will help me a lot in figuring out what is a module, what are its arms and legs, and wha

[2015-10-01 12:25] fosterlynn commented on #22
@ahdinosaur @elf-pavlik Got it, all seems fine to me.

[2015-10-01 12:42] ahdinosaur commented on #22
done, i'll figure out how we can share access sometime soon.

[2015-10-01 21:03] elf-pavlik commented on #27
I would suggest not creating to many repositories to early! We will need to also look at various types of relationships
- Agent <-> Agent
- Agent <-> Process
- Agent <-> Exchange
- Agent <-> Resource
- Process <-> Resource
- Exchange <-> Resource

etc.

BTW I just added placeholder for https://w3id.org/role where I plan to experiment with
- attendee
- organizer
- speaker
- host
- guest
- member
-

[2015-10-01 21:12] elf-pavlik commented on #9
http://sioc-project.org/node/341

![UserAccount](http://sioc-project.org/files/sioc_foaf_skos_useraccount_change.png)

[2015-10-01 21:27] bhaugen commented on #27
I agree about not creating too many repositories too early. Do you think any of those that have been separated out so far were created too early? (So far, I don't. But then, I have not tackled a README for the resource repo yet...)

Each of those relationships has particularities, and few of them are simple:
- In many cases, the relationship is mediated by something else. In other words, it is not

[2015-10-01 21:42] elf-pavlik commented on #27
Some examples of relationships (direct/unqualified) from schema.org
- http://schema.org/provider
- http://schema.org/seller
- http://schema.org/buyer
- http://schema.org/producer

To get qualified version we could use patter I describe in https://github.com/w3c-social/social-vocab/wiki/Verbs---owl:Class-vs.-rdf:Property#qualified-relations

IMO we should also take a closer look at http://www.gs1.o

[2015-10-01 22:17] fosterlynn commented on #27
Actually, I don't think that the same Relationship we use for agent to agent relationships will be used for relationships between agents and resources.  I understood the definition in AS to be between agents.  Although they use the term "individual", which may be broader than I think, who knows.

Even besides that, I think defining Relationship so you can use it as a relationship between anything

[2015-10-01 22:20] ahdinosaur commented on #27
great feedback by all, i'm gonna close this issue for now, we can always revisit it later if we feel we should.

[2015-10-01 22:20] #27 closed

[2015-10-02 06:52] bhaugen opened #28 "More about agent relationships with other things"
This is a followup to #27 which is now closed. Several sub-topics about agent relationships with things other than agents emerged from the discussion of splitting off Relationship and RelationshipType into their own repo (which we decided not to do, at least for the time being).

I quote here from a couple of @elf-pavlik's comments on that issue that I wanted to discuss in more detail:

We will ne

[2015-10-02 07:19] bhaugen commented on #28
http://schema.org/provider is interesting.

Says: Values expected to be one of these types:
(@elf-pavlik - is that the Domain?)
Organization [vf:Agent]
Person [vf:Agent]

Used on these types:
(@elf-pavlik - is that the Range?)
BusTrip [probably vf:Process]
CreativeWork [vf:EconomicResource]
Flight [probably vf:Process]
Invoice [a materialized set of vf:Claims that one or more vf:EconomicEvents hav

[2015-10-02 07:37] bhaugen commented on #28
A gtin identifies a vf:EconomicResourceType vf:Exchanged in international commerce.

Each of that fascinating collection of OrganizationRoles is a relationship between a vf:Agent and (usually) a vf:EconomicResourceType, but there's a lot of detailed knowledge buried behind each of them.

For example:
http://gs1.org/voc/OrganizationRole-BRAND_OWNER>
    skos:prefLabel "BRAND_OWNER" ;
    a http://g

[2015-10-02 11:37] elf-pavlik commented on #28
Schema.org doesn't use rdfs:domain and rdfs:range (even that people who take technical leadership in schema.org - Dan Brickley & R.V. Guha) authored http://www.w3.org/TR/rdf-schema/

Schema.org uses instead a 'relaxed' version [schema:domainIncludes](http://schema.org/domainIncludes) and [schema:rangeIncludes](http://schema.org/rangeIncludes) which act as a hint but don't cause any inferences if s

[2015-10-02 11:52] bhaugen commented on #28
Yeah, it's complicated. For the people who drive the bus or work on the flight or traintrip, it's a process, which provides a service. For the people who ride, it's a ticket to use the service. We are still dithering about that in this design discussion document about [right to use underlying resource](https://docs.google.com/document/d/1mFnWLuYWpZ-UL-aIgA-I5dvBmgqJco_1S8ljXXXww4g/edit?usp=sharing

[2015-10-02 12:00] bhaugen commented on #28
Oh, and @elf-pavlik thanks for the explanation and link about domain and range. If I read that correctly, I had the domain and range backwards. The range is Person and Organization, and the domains are all of those other things?

[code]

[2015-10-02 12:33] elf-pavlik commented on #28
We could also see BusTrip as a output of a [gtfs:Trip](https://github.com/OpenTransport/linked-gtfs/blob/master/spec.md#gtfstrip) and work done by person driving it as one of the inputs:

[code]

yes, you can always check RDFa file I linked to to see the source

[2015-10-02 13:36] bhaugen commented on #28
gtfs:trip is pretty nice, as is what you posted above. But it might be a view over a more complex set of stuff happening below, depending on the use case, like a flattened view over a set of database relations. driver-jane provided some hours or miles of driving time, for which she got paid X amount of money. On a long trip or a shift change, the bus may need a change of drivers. The bus needed to

[2015-10-02 13:43] ahdinosaur commented on #28
the agent-to-resource relationships i had in mind earlier were around ownership or things of that nature. while process and exchange also relate agents with resources, those intuitively seem to be of a different form than our current agent-to-agent relationships. also i'm unsure of roles at the moment, we're removing them from Holodex since we realized agent-to-agent relationships are all we need

[2015-10-02 14:17] fosterlynn commented on #28
Re. roles: Yes we ended up with roles (say role in an organization) and relationships (let's say between people, although that might not always be true) being the same thing.  The difference is pretty subtle, and the agent-to-agent relationship works fine for any of these.  I'll try to put this into a definition when we get to the doc.

[2015-10-02 14:17] bhaugen commented on #28
Even ownership can get complicated. Read that "right to use underlying resource" discussion linked above-thread. Or don't, it's great for insomnia.  We had a side conversation with [Kendra](https://www.kendra.io/kendra-hub/features) about rights to media assets. In the movie biz, for example, you can buy the rights to show in theaters in Europe, or online streaming everywhere, or it used to be the

[2015-10-02 14:20] elf-pavlik commented on #28
@bhaugen I guess what you refer to as _flattened view_ I refer to as _direct relation_ ([as illustrated here](https://github.com/w3c-social/social-vocab/wiki/Verbs---owl:Class-vs.-rdf:Property#proposed-alternative)). As you can see in my example above, **in addition** I provided qualified versions of that relation which include examples _earned_/_paid_, where I use tokens _FoodStamp_ and _BusTicke

[2015-10-02 14:21] bhaugen commented on #28
The direct relationships between agents and resources that I have seen include:
- owner
- custodian
- planner
- manager
- a variety of "roles" (for want of a better name) authorized to do specific things, like issue from inventory to production or stock shelves or even just to count how many we got

[2015-10-02 14:25] fosterlynn commented on #28
In Sensorica, the roles authorized to do something include:
- Trainer
- Technician

(these related to a resource that is a piece of equipment)

[2015-10-02 14:26] bhaugen commented on #28
I mean flattened in the sense that what is going on in real life (or in an operational view that needs to plan and account for such things) has a lot more indirection (an  agent provided driving service via an economic event that was measured in miles or hours, flattened into role:driver).

[2015-10-02 14:39] elf-pavlik commented on #28
I must admit that I prefer much more to look at what we **DO** and will look at alternative way of expressing things which uses _verb_ instead of _role_ eg. _verb:transports_ & _verb:travels_

I think most people would say "Jane (driver) drove the bus " and "Pavlik and Alice (passengers) took the ride". Someone else may want to express **more elaborated** view with emphasis on things like providin

[2015-10-02 14:45] bhaugen commented on #28
I like Jane drove the bus better than role:driver, too. Whether to use more elaborated views depends on what you are trying to express, whether Jane drove the bus, or Jane drove for 1000 kilometers between Berlin and wherever on Friday and then Mary took over and they had to refuel the bus and replace the window that was hit by a pelican.

Pavlik and Alice probably didn't care about any of that, e

[2015-10-02 14:54] elf-pavlik commented on #28
- http://patterns.dataincubator.org/book/qualified-relation.html
- http://patterns.dataincubator.org/book/nary-relation.html
- http://www.w3.org/TR/swbp-n-aryRelations/
- http://blog.schema.org/2014/06/introducing-role.html
- https://github.com/w3c-social/social-vocab/wiki/Verbs---owl:Class-vs.-rdf:Property#proposed-alternative (this one work in progress of course)

[2015-10-02 15:06] elf-pavlik commented on #28
Looking at things in terms of **roles** and in terms of **actions** (verbs) most likely should have a straight forward mapping. Possibly also rules for a reasoner to make inferences.

I see describing things in terms of roles useful when it comes to _Access Controll_, for example _organizer_ of an event (meetup etc.) can change the location of this event, but not _attendee_ / _invitee_.

Also a Pe

[2015-10-02 15:26] bhaugen commented on #28
@elf-pavlik - do you mean more details for those examples, or more examples, or examples that have more details?

[2015-10-02 15:32] elf-pavlik commented on #28
More details for those examples, and we can add more examples with details as we encounter them. I would see very practical to have at least one real world scenario for each of those different relationships. Later we can start proposing different concrete ways to model those scenarios!

[2015-10-02 15:43] bhaugen commented on #28
Are you editing that file in place, or merging pull requests from a fork? (We have a fork, I could do it that way.)

[2015-10-02 15:46] elf-pavlik commented on #28
I would say let's just edit such files in place, for more crucial files like JSON-LD context / RDFS/OWL vocab I see it more important to have PR based workflow.

[2015-10-02 15:57] elf-pavlik commented on #20
@fosterlynn I get 404 for all those:
- http://dhen.webfactional.com/agent-type/
- http://dhen.webfactional.com/agent-relationship-type/
- http://dhen.webfactional.com/agent-assoc-type/

do you mean to write it in [Turtle](http://www.w3.org/TR/turtle/) instead of [JSON-LD](http://www.w3.org/TR/json-ld/) ? you can always use [JSON-LD Playground](http://json-ld.org/playground/) to get N-Quads (on of

[2015-10-02 16:10] bhaugen commented on #28
Added explanations of what they mean, at least in most cases I have seen. Is that the kind of details you were looking for? I don't yet feel competent to write RDF statements about them.

[2015-10-02 16:17] elf-pavlik commented on #28
LGTM @bhaugen :star:

Could you please add a scenario which include owner, custodian, manager and planner? Just to see on particular example how those relationships differ from each other and complement each other. If possible let's use a single resource and four different agents.

[2015-10-02 16:26] fosterlynn commented on #20
@elf-pavlik

I got a response from rdflib support, so please ignore my triple request!  Sorry if you spent some time on it! :frowning:  I haven't had a chance to follow through and fix my code, am working on something for one of our networks, done soon I think.

[2015-10-02 16:59] bhaugen commented on #28
Done, I think.

I'm basing it on Sensorica's community-funded 3D printer:
http://nrp.sensorica.co/accounting/resource/411/

I'm also changing some of the relationships because I think they have them wrong, but I don't want to change their data. They didn't have planner, but they added some others.

The planner relationship came from vendor-managed inventory relationships, where (for example) a US

[2015-10-02 17:14] bhaugen commented on #28
@elf-pavlik wrote:

I love it! This and other examples of ride-sharing would be great use cases! We got a food network near us that wants to do food ride-sharing. It's fed by a lot of small farmers so they got a lot of small batches of food being trucked around. They want to arrange rides for the food with people who are already driving to work or wherever, in return for some food shares. They nee

[2015-10-02 21:46] myriamboure commented on #28
Interesting conversation! I'm actually starting to use the Nimber platform to deliver some of the products we buy through our new buying group in Oslo. But we have to do it manually, would be great to have some more automation ;-) It works pretty well on some often used ways, but a bit harder in remote areas, and we need a critical mass of users for a distributed logistics system to be efficient.

[2015-10-02 22:02] bhaugen commented on #28
@myriamboure how does Nimber work for you? We're in a remote area (southwest Wisconsin USA).

(But my sister lives in Oslo, maybe she'd be interested in your buying group...:wink:)

[2015-10-02 22:08] myriamboure commented on #28
For the moment we just publish an offer to ask if someone can bring x kg of vegetable from here to there between this day ad this day :-) The very old fashion way, but it enabled us to find people who did regularly the trip and could do the delivery for every order cycle maybe. For remote areas it's harder to find drivers who do the trip regularly, so you have more uncertainty and need back-up sol

[2015-10-02 22:09] bhaugen commented on #28
We have a lot of people in the area who regularly drive to and from work or school. And the food network has a lot of farmers who have food to deliver regularly. So the drivers and the farmers could work out routes.

[2015-10-02 22:10] bhaugen commented on #28
So maybe Nimber is overkill...too fancy for the requirements, and doesn't look like it's open source anyway.

[2015-10-04 23:29] elf-pavlik opened #29 "add few more examples of agents to start working on relationships"
So far we have one Person and one Group, I will add soon another Person and Group which will have names in multiple languages to work on supporting it from very beginning. Besides that we need few more examples to start working on ... **relationships**
### People
- [x] @elf-pavlik
- [x] @fosterlynn
- [x] @bhaugen
- [x] @ahdinosaur
### Groups
- [x] @hackers4peace
- [ ] OuiShare
  - [ ] OuiShare Lab

[2015-10-05 07:42] ahdinosaur commented on #23
[success](https://github.com/perma-id/w3id.org/pull/137#event-426424264)! our URL is now http://w3id.org/valueflows/. :)

[2015-10-05 07:42] #23 closed

[2015-10-05 10:06] elf-pavlik commented on #23
Let's all please use HTTPS https://w3id.org/valueflows/

http://www.w3.org/2001/tag/doc/web-https

[2015-10-05 11:50] almereyda commented on #23
Can I assist in setting up TLS for https://valueflo.ws, which doesn't work
yet?
It seems we should make it available right from the start, so no http links
get spawned over the web.

On 5 October 2015 at 12:06, elf Pavlik notifications@github.com wrote:

[2015-10-05 12:07] fosterlynn commented on #23
@almereyda  sounds like a good idea.  Does the certificate cost much?

[2015-10-05 13:10] elf-pavlik commented on #23
let's make a new issue for that in https://github.com/valueflows/valueflo.ws ?

[2015-10-05 22:26] ahdinosaur commented on #23
@fosterlynn made an issue [here](https://github.com/valueflows/valueflo.ws/issues/6).

[2015-10-06 08:27] elf-pavlik opened #31 "audibleName & audibleNameMap - which makes possible to hear pronunciation of a name"
I would like to add property which links to an audio file, this way one can hear pronunciation of a name

e.g. https://en.wiktionary.org/wiki/listen#Pronunciation

(I just can't remember how to pronounce mikorizal :wink:  )

I could make example and PR right after we decide on merging (or not) of #30

[2015-10-06 10:12] ahdinosaur commented on #31
this is a great idea. is there any prior work in the semantic web ecosystem for something like this? it seems like a general accessibility feature very similar to internationalization, seems silly that we'd have to make a property to support audio for another property. if this isn't a solved problem then audio for names is a good place to start before trying to do audio for all the things.

[2015-10-06 10:22] elf-pavlik commented on #31
I agree, but since we still **prototype** here we can include this feature and than make sure to migrate it to more general pattern in case where we find|create one.

[2015-10-06 10:25] ahdinosaur commented on #31
@elf-pavlik that feels good to me, in general i'm happy to go with what works for now _as long as we make an issue to track our more ideal long-term plan_.

[2015-10-07 00:09] #26 closed

[2015-10-07 00:10] #22 closed

[2015-10-07 00:11] fosterlynn commented on #16
This is on its way, closing.....

[2015-10-07 00:11] #16 closed

[2015-10-07 00:24] fosterlynn commented on #15
Is everyone OK with the following?

foaf:Agent
foaf:Person
foaf:Organization
foaf:Group

Does anyone prefer org:Organization?

[2015-10-07 00:29] fosterlynn commented on #9
Closing this issue in favor of more specific issues, this one is now too general.

[2015-10-07 00:29] #9 closed

[2015-10-07 01:02] ahdinosaur commented on #15
i'm skeptical about using `foaf` agent types. i wonder what we gain with that approach over using our own `vf:Agent` and derivatives that follow our own standards (e.g. how we handle labels, how we do subclassing, how we do multilingual properties, etc), as our own agent types can still reference existing types (`foaf`, `as`, `schema.org`, `org`, ...). personally as someone who wants to consume th

[2015-10-07 01:52] elf-pavlik commented on #15
@fosterlynn Let's give ourselves little more time in a comfort of defining everything the way we wish to use it. Once we have few more concrete examples, plus working services and apps using those examples, we can pick up discussion about reusing existing vocabularies. This way we will see if this change breaks something, or really makes things harder.

[2015-10-07 13:47] fosterlynn commented on #15
@elf-pavlik   I honestly don't know which is the best approach, not having done this before, so I am happy to take your guidance.  But then don't we need to go ahead and define our own vocab terms, including the subclassing, domain, range, etc.?  I would like to get the whole thing working with at least the correct architecture, i.e. pulling our context from where it lives.  I suppose we could loo

[2015-10-08 16:23] fosterlynn opened #38 "Defining common relationship verbs"
Per discussion with @elf-pavlik we are thinking that we should define some core relationship type rdf:Properties.  Like "member", ....  Then if people want to add more, those can be sub-propertied.  This will allow networks to define their own (which they do freely in NRP), as well as allow apps using the data to default to a known property if it matters to them.  For example if they need to treat

[2015-10-08 18:34] fosterlynn commented on #38
Here is a suggested list of fairly standard relationship types, for starters:
- member
- child/parent
- supplier/customer (usually an interface out of the network or group into the existing economy)

[2015-10-08 19:35] bhaugen commented on #38
Thinking about this on our walk: a couple of comments:

Relationships can roughly (with some ragged edge cases) be divided into super-properties like EconomicRelationship, SocialRelationship and FamilyRelationship. (If I got the right "super" term...)

Supplier/customer might be an EconomicRelationship called tradingpartner, where one end is supplier or provider and the other end is customer or re

[2015-10-08 19:37] elf-pavlik commented on #38
@fosterlynn would you like to make PR with some **concrete real world examples**? I would suggest to keep supplier/customer for next round and start with simpler ones like member, child/parent
@bhaugen do you have a **concrete real world example** where we need it? Unless we have one I would propose to document this thought but start with simpler things which we can back by mentioned examples.

[2015-10-08 19:39] bhaugen commented on #38
Got lots of examples, but I'm not in a hurry. We can wait for the examples to emerge from the actual relationships that Lynn's code will be emitting over time.

[2015-10-08 19:42] fosterlynn commented on #38
@elf-pavlik Yes we don't need customer/supplier (trading partner) now, as long as we are just using ourselves.  When we get to the networks using NRP, they will have customer/supplier.  We won't need parent/child until we get into layers of network structure.  Let's put if off as long as possible.  I think right now we can get away with just vf:member.

I will say this is one reason we just let pe

[2015-10-08 19:46] fosterlynn commented on #38
@elf-pavlik Just to give you an idea, I actually didn't make up "affiliate", that is what Sensorica calls their members, and they actually changed the term a while back because they wanted to convey something slightly different than "member".    When I get my jsonld pull working, I'll get out some real examples.

In the meantime, I'll change our examples to all "member".

[2015-10-08 19:56] elf-pavlik commented on #19
#39 resolves it by simply including vocab definitions in context.jsonld

[2015-10-08 19:56] #19 closed

[2015-10-08 20:03] elf-pavlik commented on #38
@fosterlynn can you please document in .md files all the known variations which you encounter? so member.md could mention affiliate.md and at some point we may decide to give it dedicated vf: property

We will have child/parent examples very soon, If we talk about organizations I would suggest starting with terms which have matches in eg. http://www.w3.org/TR/vocab-org/#org:hasSubOrganization

Wor

[2015-10-08 20:06] elf-pavlik commented on #6
let's resolve it in https://github.com/valueflows/valueflows/issues/35

[2015-10-08 20:06] #6 closed

[2015-10-08 20:29] fosterlynn commented on #38
@elf-pavlik I think the examples we encounter are pretty random and subject to change, I'm not sure I would put them in the md file.  And really the problem is that we don't want to monitor what people decide to do in NRP, figure out how it should get normalized against what other people are doing, etc.  And if we wanted to, it is I think just too early in the development of these economic network

[2015-10-08 22:48] fosterlynn commented on #20
An update: The NRP jsonld output is now working technically, at last!  It is not correct per our more recent discussions, like using only vf, questions of user defined relationship types, etc.  I'll probably wait to fix it until we have some more decisions or we need to use it.  In the meantime, if you are bored :) , you can see results here:

http://dhen.webfactional.com/accounting/agent-jsonld/

[2015-10-09 00:05] ahdinosaur commented on #38
before reading this, made comments https://github.com/valueflows/agent/pull/40#issuecomment-146714338 and https://github.com/valueflows/agent/commit/99717a62805d2ac45d287ff21cf63a17aa286f0c#commitcomment-13676132, after reading i still feel the same way.

.

my understanding for how to define common relationship verbs is [how @bhaugen and @fosterlynn did it in their example](https://github.com/val

[2015-10-09 18:41] fosterlynn commented on #38
@ahdinosaur I basically agree with you, and you expressed it well.  And I note that my short list of super-properties did not include something that will work for person to person relationships within a network, like steward or mentor.  Not sure what that would be?

I'm trying to think if introducing vf:member makes it a special case.  It introduces a bit of complexity into the data feeds, in the

[2015-10-10 09:05] ahdinosaur commented on #38
i think they actually are different methods (using `member` as a property on the Agent object versus using `member` as the value of the `relationship` property on the Relationship object), so [i'm seeking clarity on whether or not the different methods have the same semantic meaning](https://github.com/valueflows/agent/pull/40#issuecomment-147059681).

yes, although i want our agent and relationsh

[2015-10-10 16:59] fosterlynn commented on #38
@ahdinosaur I'm really glad you appreciate the NRP model, and in fact the agent piece has worked very well for us, the flexibility is quite useful.  That is with some additions, like context agent on the relationship, etc..... :smile:

You are right, I missed the property on an Agent, was just looking at the context vs the stuff created from user data.

[2015-10-10 17:48] fosterlynn commented on #20
@all, I am thinking I will go ahead and write a query method in NRP to take in agent jsonld and make an ugly display of it.  I feel a personal need to complete the round trip to better understand the implications we need to take into account for querying, and just how this stuff works technically.  And I would like a working example.  (Understanding it will need continual adjusting as we morph the

[2015-10-11 05:16] ahdinosaur commented on #20
hungry for more agent jsonld? here's [holodex/enspiral-data](https://github.com/holodex/enspiral-data) processed into the current format: [github](https://github.com/holodex/enspiral-data/blob/jsonld/data.jsonld), [raw](https://rawgit.com/holodex/enspiral-data/jsonld/data.jsonld), [playground](http://json-ld.org/playground/#startTab=tab-expanded&json-ld=https%3A%2F%2Frawgit.com%2Fholodex%2Fenspira

[2015-10-11 13:50] bhaugen opened #44 "concrete, real world examples"
From https://github.com/valueflows/agent/pull/37#issuecomment-147174325

Good challenge. I don't know. Here are some concrete cases that have come up.
- Sensorica "affiliate": semantically same as member, but the different name is important to them. Can we allow different names for a common construct?
- Enspiral "steward" and "mentor": do common constructs exist with the same meanings?
- DHEN "har

[2015-10-11 18:03] elf-pavlik commented on #44
I [suggested on gitter](https://gitter.im/valueflows?at=561a21276dc64436714ac0f1) how to define custom _vocab terms_ as needed. Question here comes about its semantics, do we want to define rdfs:Class - nrp:Affiliate , which used on person would mean 'this person is an Affiliate (period)' or we want to define it as rdfs:Property - nrp:affiliate which would **relate** person with another entity, an

[2015-10-11 18:11] bhaugen commented on #44
@elf-pavlik - you could explain, or I could just follow along and see how things develop.

But I didn't list steward and mentor because they were Enspiral-specific, but because they are different from member. I am happy about however many concepts we could promote to "commonly useful".

[2015-10-11 18:13] bhaugen commented on #44
General question for everybody: are we all happy how these conversations are developing? Is anybody really frustrated? I know they are difficult, and we are all at different stages of our learning curves. But I love all the momentum and interaction and keep everybody in a state of flow as much as possible. Except for days of rest. Can't keep up flow state forever...

[2015-10-11 19:31] fosterlynn opened #45 "Direction of relationship in spo format"
I think this can be discussed as a specific issue, although it is related to https://github.com/valueflows/agent/pull/40#issuecomment-147233712, and #52 in valueflows repo, and probably others.  (If it seems too related, let's pull it somewhere else.)

My question is: In the following example, how do we actually tell which way the relationship goes?  In the discussion, @elf-pavlik and @ahdinosaur

[2015-10-11 21:29] fosterlynn commented on #44
@bhaugen I'm not frustrated, but I also fear others are.....  and yes although I also love the momentum, I am very behind, still reading emails that arrived during the night.... and I need to take a couple days off this week to do some NRP coding again.... so hopefully we can all proceed as our personal pace allows, and I really think this whole process is incredibly positive!

Since there is a lo

[2015-10-11 22:29] fosterlynn commented on #20
@ahdinosaur hungry, stomach growling....  :smile: ....  However, my code doesn't work yet, so all in good time I guess.....

[2015-10-11 23:01] ahdinosaur commented on #44
in that specific case, i think "affiliate" is a RelationshipType not an AgentType.

in general we want to define either a AgentType (rdfs:Class) or a RelationshipType (rdfs:Property), depending on what makes the most sense. [Open OS](docs.google.com/document/d/1as22xHOG5JzxKb8sDZW4iCyQHh8st52g3bAXoYzoYHc/edit?pli=1#heading=h.odkahue79nna) is an example user-defined vocabulary in Enspiral that defi

[2015-10-11 23:06] ahdinosaur commented on #44
yes, these aren't specific to Enspiral but for example, Enspiral [came up with 'steward' independently of any existing vocabulary and we're trying to seed it to other organizations](https://github.com/loomio/loomio-org/wiki/stewarding:-accountability-and-support-in-a-workplace-without-bosses). i think it's more important to focus on how users can define and share their own vocabularies rather than

[2015-10-12 09:26] elf-pavlik commented on #44
[code]

This way systems which 'understand' very generic _role:steward_ can still get some meaning of this property and degrade in graceful way, while systems who 'understand' **more specific specialization** _ens:steward_ can fully support it.

Of course each app, and data space can provide (eg. via deployment config) their own **overwrites** for all the labels in any known vocabulary as they wis

[2015-10-13 10:35] ahdinosaur opened #46 "vf:property instead of vf:relationship"
from https://github.com/valueflows/agent/pull/37#issuecomment-146963657,

vf:relationshipProperty rdfs:subPropertyOf vf:property ?

this is an interesting idea, so here's a dedicated issue for discussion.

[2015-10-13 12:11] elf-pavlik commented on #46
@ahdinosaur since this Relation(ship) design pattern seems not specific to Agent, can we take it to https://github.com/valueflows/valueflows/issues/63 ?

[2015-10-13 12:17] elf-pavlik commented on #45
1) Each definition of property can include diagram with an arrow
2) formal rdfs:domain (type of subject) & rdfs:range (type of object) - causes inferences

[code]

3) less formal schema:domainInludes & schema:rangeIncludes - no inferences but just a hint

[2015-10-13 12:47] ahdinosaur commented on #46
@elf-pavlik yes :+1:

[2015-10-13 12:47] #46 closed

[2015-10-13 15:42] elf-pavlik commented on #20
very cool @ahdinosaur !

few observations:

1) one can NOT traverse it (discover relationships) https://github.com/valueflows/valueflows/issues/59

eg. starting from HTTP GET to  https://holodex.enspiral.com/api/agents/derek

response

[code]

2) use of relation property only in one way (which I like) https://github.com/valueflows/valueflows/issues/52 eg. "dex:relationshipTypes/has-member" & "dex:

[2015-10-13 23:10] ahdinosaur commented on #5
related comment by @elf-pavlik: https://github.com/valueflows/agent/pull/37#issuecomment-147740739

[2015-10-13 23:29] ahdinosaur commented on #5
superseded by https://github.com/valueflows/valueflows/issues/67

[2015-10-13 23:29] #5 closed

[2015-10-17 07:33] elf-pavlik commented on #15
Yes! I would even say:

"we can define new properties ourself, and recommend using them on various existing classes"

Since rdf:Property doesn't stay 'inside' owl:Class and has its full autonomy! Actually properties define their relationships to classes (eg. rdfs:domain and rdfs:range) and I can't really think of example where class would define relationship to some properties.

[2015-10-17 20:35] bhaugen commented on #15
@elf-pavlik - is that the distinction you were trying to make to me once upon a time? That properties define their relationships to classes via domain and range, rather than classes defining their relationships with properties? If so, thanks, that's a clear and concise explanation, and pretty much what I had gathered from reading several much more verbose and winding articles. But this makes it si

[2015-10-18 00:20] fosterlynn commented on #11
@elf-pavlik @ahdinosaur I'm doing research on how other vocabs handle agent relationships.  I'm now leaning towards separating the directions, based on getting more of a feel for how it tends to be done.  And, I think you guys lean that way too so also happy to move toward agreement!  I think this would apply to the "relationship type" and the relationship.  The relationship would be how elf has s

[2015-10-18 00:35] ahdinosaur commented on #11
maybe if the relationship type is symmetrical then `owl:inverseOf` points to itself?

[2015-10-18 10:02] elf-pavlik commented on #11
I have impression that we mix class definition with instances and reified statements (which we can further qualify)

For different types(?) of relationships we define as an instance of rdf:Property (eg. _role:member_) which we can use as label for an edge.

![direct relation](https://docs.google.com/drawings/d/1xcuJoZDrVmd3zGTIaxlMf1FQVoU0fKxpnzsvTHd3Ojo/pub?w=960&h=720)

Such labeled edge (~ inst

[2015-10-18 11:10] elf-pavlik commented on #15
thanks for feedback @bhaugen, I'll just start collecting such notes in https://github.com/hackers4peace/rdf-for-object-oriented-heads

[2015-10-18 11:32] ahdinosaur commented on #11
@elf-pavlik so to recap my understanding: you think we should have two separate properties:
1. `owl:inverseOf` to be used to specify the inverse of a RelationshipType
2. `vf:mirror` to be used to specify the inverse of a Relationship

and the reason for separating these is:

?

---

i suppose that makes sense. i've been using the same property (obverse, inverse, reverse, ...) for both relationship

[2015-10-18 11:58] elf-pavlik commented on #11
formal definition of _owl:inverseOf_ (in turtle syntax copied from http://www.w3.org/2002/07/owl.ttl )

[code]

If one uses it on an instance of vf:Relationship, that would imply (when running RDFS reasoner which can infer based on rdfs:domain) that it's also an instance of owl:ObjectProperty (itself rdfs:subClassOf rdf:Property as defined in same .ttl file), which I don't think we intend.

To mak

[2015-10-18 21:51] fosterlynn commented on #11
Actually,  I didn't get that out of it, @ahdinosaur , although you may well be right!  I got that mirror would handle the situation of different assertions of something, which may or may not match - the old multiple sources of truth thing. @elf-pavlik you'll have to clarify for us.

IF it is the multiple sources of truth, I'd suggest we leave that out for now.  I think it can be added on later wit

[2015-10-18 22:01] elf-pavlik commented on #11
I think @ahdinosaur understood clearly what I tried to explain

Yeah, we can wait with that a bit. I will just add to data I publish relation from me to enspiral network as role:boss, this will give us chance to look at how apps could at some point weed out such one sided claims.
https://github.com/hackers4peace/rdf-for-object-oriented-heads#anyone-can-say-anything-about-anything

[2015-10-18 22:08] fosterlynn commented on #11
@elf-pavlik role:boss, why not?  Somebody's gotta do it.....

Seriously though, I don't get the "role:" thing.  I get it in the agent - resource relationship (conceptually more the right word), but not here really.

Is that related to the list of roles you defined?  (Can't find the link, maybe in w3id?)

[2015-10-18 22:16] elf-pavlik commented on #11
@fosterlynn I just used it as playful example of someone stating nonsense, and while we integrate data from multiple sources from all over the web, we will need a way to automatically verify such claims. At the same time I agree that we better focus on other things first...  (BTW second link on http://prefix.cc/role )

[2015-10-18 22:16] fosterlynn commented on #45
Closing this, Not an issue if the relationship directions are separated.

[2015-10-18 22:16] #45 closed

[2015-10-18 23:17] ahdinosaur commented on #11
dense article by ssb folks: ["Using Reputation Systems to Create Shared Function-critical Datastructures in Open Networks"](https://github.com/ssbc/docs/blob/master/articles/using-reputation-systems-to-create-shared-function-critical-datastructures-in-open-networks.md)

[2015-10-19 00:43] ahdinosaur opened #51 "Agent subclasses"
as Value Flows, what subclasses of Agent do we want to export?

---

previous conversation:

https://github.com/valueflows/agent/pull/50#issuecomment-149063934

https://github.com/valueflows/agent/pull/50#issuecomment-149065471

[2015-10-19 01:13] ahdinosaur commented on #51
the reason i prefer we only export Person and Group is that i perceive those (based on Holodex implementation) as having fundamental differences in functionality, whereas Organization and Network are more minor adjustments to Group. however, maybe this only means i would prefer Organization and Network were subclasses of Group instead of Agent, as Loomio and Hylo both have Network as separate from

[2015-10-19 01:18] fosterlynn commented on #51
@ahdinosaur Where do they put Network in the hierarchy?

[2015-10-19 01:22] fosterlynn commented on #51
Yes you are right on the behavior side, that fits with NRP too.

[2015-10-19 01:32] ahdinosaur commented on #51
in [Loomio](https://loomio.org): Network > Group > Sub-Group > User

references:
- https://github.com/loomio/loomio/pull/1986#issuecomment-78189739
- https://www.loomio.org/n/podemos
- https://github.com/loomio/loomio/blob/master/app/models/network.rb
- https://github.com/loomio/loomio/blob/master/app/models/group.rb
- https://github.com/loomio/loomio/blob/master/app/models/user.rb

in [Hylo](http

[2015-10-19 01:49] fosterlynn commented on #51
A review of other vocabularies:
- vcard: Kind is the superclass, with Group, Organization, and Individual as direct subclasses.
- foaf: Agent is the superclass, Group, Organization, and Person as direct subclasses.
- org: uses foaf:Agent, foaf:Group, foaf:Person, and their own org:Organization as direct subclass of Agent.  They also have FormalOrganization subclass of Organization, OrganizationalC

[2015-10-19 02:14] fosterlynn commented on #51
I think I would like to keep Organization in our vocab on the same level as Group, based on either using or syncing with other vocabularies.  If we don't include it explicitly, we will need to subclass Group to create Organization in the networks we work with.

Re. including Network, I don't feel strongly.  We don't need it to match other vocabs, on the other hand we are basically talking about ne

[2015-10-19 15:26] fosterlynn commented on #51
Here is detailed info from foaf:

Agent:

[code]

Person:

[code]

Organization:

[code]

Group:

[code]

[2015-10-19 15:31] fosterlynn commented on #51
Here is detailed info from org.  Having trouble accessing the actual machine readable context, but here is info:

http://www.w3.org/TR/vocab-org/#org:Organization

http://www.w3.org/TR/vocab-org/#org:FormalOrganization

http://www.w3.org/TR/vocab-org/#org:OrganizationalCollaboration

[2015-10-19 15:32] fosterlynn commented on #51
So, I think this is enough for us to consider the issue.  I put it on the agenda for the meeting....

[2015-10-19 19:29] fosterlynn commented on #38
OK some research:

@elf-pavlik mentioned this: http://www.w3.org/TR/vocab-org/#org:hasSubOrganization, and here's the inverse or reverse: http://www.w3.org/TR/vocab-org/#org:subOrganizationOf.

Thoughts: I like this better than parent/child, which in many vocabularies actually mean a human parent and child.  The only trouble is it applies to Organization, which we don't know if we will support or

[2015-10-19 20:18] fosterlynn commented on #38
@ahdinosaur question: Can we do this as just an rdf:Property?  Holedex has the types of agents for subject, object, and context defined as constraints, I believe.  I'm tentatively thinking those don't want to be in the vocab, since mostly the types of relationships will be user defined.  So others won't need to implement that as it won't be shared vocab.  (Doesn't mean that Holodex doesn't want to

[2015-10-19 22:27] ahdinosaur commented on #38
Holodex plans to remove the separation between `member` and `parent` / `child`, since in most literature on holons it's the same relationship type, and that way things are simpler.

i still don't understand the difference between a group and an organization.

if by "this" you mean relationship types, yeah i think `rdf:Property` seems to fit our needs well.

we haven't used these constraints yet, m

[2015-10-19 22:49] fosterlynn commented on #38
Well, would you consider Alibaba or your local gas station to be a group?  It has to do with the formality and tightness I think.  In practice in our networks, organization is mostly used for agents outside the network, like with relationship type supplier.

[2015-10-19 23:56] ahdinosaur commented on #38
cool, that makes sense. back to https://github.com/valueflows/agent/issues/51#issuecomment-149072983, i still feel Organization is a subclass of Group, since the primary behavior of an Organization (having `member` or `parent` / `child` relationships) which makes it different from say Person is also present in Group.

[2015-10-20 00:19] fosterlynn commented on #38
oh yeah, I guess we have strayed..... I'm moving this to #51.

[2015-10-20 00:21] fosterlynn commented on #51
@ahdinosaur:

me:

@ahdinosaur:

very good point, although I might think that Group should be a subclass of Organization.... but in either case, it seems like a question of how much we want to use what has already been defined....

[2015-10-20 00:27] fosterlynn commented on #38
Very interesting!  I can see it is very similar.   Do you have a name or label for that?  Or does the literature on holons have one?

One difference: You can be a member of lots of groups, but probably a child of only one parent (in the organizational sense).

[2015-10-20 00:29] ahdinosaur commented on #51
my thoughts: it's one thing to be defined, it's another to be _used_ in real systems. so i'd rather we define our own agent subclasses to focus on what we need for our real systems and then reference the existing definitions. see also my previous comment on this: https://github.com/valueflows/agent/issues/15#issuecomment-146047421.

btw, thanks @fosterlynn for collecting the relevant previous voca

[2015-10-20 00:58] ahdinosaur commented on #38
really? i know a few groups (orgs) that have multiple parents, e.g. [Cherubi](https://github.com/enspiral-cherubi) is a pod in both the Enspiral Services and Enspiral Academy communities. also [Enspiral ventures](https://github.com/enspiral/agreements/blob/master/agreements/ventures.md) can be within other networks if they wish. although i agree there are different flavors of membership, on a spec

[2015-10-20 10:46] elf-pavlik commented on #38
I would consider adding a very generic sub property (same meaning as child) which one can use in reverse direction for 'super' (parent) meaning. We would just need to clarify that we don't build tree structures but graph - so we have many2many sub based relationships.

See also: https://lists.w3.org/Archives/Public/public-vocabs/2015Mar/0182.html ( + replies)

[2015-10-20 13:29] fosterlynn commented on #38
@ahdinosaur thanks for the example, I get it now I think. Love the organizational experimentation and nuances!  And also thanks for the holon links, very interesting!  :smile:

@elf-pavlik your suggestion makes sense to me!  Naming will be tricky.....

[2015-10-20 17:37] fosterlynn commented on #38
Just thinking out loud, sorry for stream of consciousness:

partOf
nodeOf

both are kind of a subOf, but have different meanings to me, although I'm not sure it matters.... maybe partOf will do if it implies the ability to be partOf many agents?  I think I like it better than subOf, although I don't know what the inverse is.

supplierOf, customerOf (inverses)
tradingPartnerOf doesn't work because

[2015-10-21 18:34] fosterlynn opened #53 "Can we use "name" for agents?"
We agreed to use skos:prefLabel for the label or name for everything.  We now have in our context:
[code]
Can we in similar vein have
[code]
and use that for agents?

Would that make it hard on the display end?  If so, can we make them equivalent in some way?

I know there continues to be a tension between naming for graphing and naming for domain understanding.....  I would like to push it toward

[2015-10-21 21:34] fosterlynn commented on #20
Updated my data creation method.  Can be tried here: http://dhen.webfactional.com/accounting/agent-jsonld/.  (Note: order is confusing to a human.)

Also used it to update the bob and lynn example, which I re-ordered some.

[2015-10-21 21:39] fosterlynn commented on #20
P.S. The @id links are not done yet.

P.P.S. If anyone has feedback on incorrect syntax, incorrect understanding of our vocab, etc., feel free! :smile:

[2015-10-22 01:13] ahdinosaur commented on #53
relevant: https://github.com/valueflows/agent/pull/49#issuecomment-149851072, basically if you alias two properties to the same linked data property, JSON-LD expansion and compaction will normalize both into one of the aliases.

yay i agree. this was my motivation for https://github.com/valueflows/agent/pull/49, although there were issues with my particular proposal there.

[2015-10-22 01:14] ahdinosaur commented on #53
another option is we remove

[code]

in favor of

[code]

[2015-10-22 01:28] ahdinosaur commented on #38
yes to stream of consciousness! or at least, i hope y'all realize that's all i ever do. :cat:

[2015-10-22 01:32] fosterlynn commented on #53
@ahdinosaur  Thinking I might like it, but don't have in mind everything we might need labels for.  And let's see what @elf-pavlik says.

[2015-10-22 12:19] elf-pavlik commented on #20
Thank you @fosterlynn ! few comments below each snippet

[code]

_isOwnerOf_ sounds evil between agents, if you consider Organization a sub type of a Group, than you might want to have distinction between the Group and the _Brand_ (a resource) as @ahdinosaur has in https://github.com/valueflows/agent/blob/master/examples/enspiral.jsonld#L113-L117

Same goes to _hasOwner_

[code]

I have impression

[2015-10-22 13:50] fosterlynn commented on #20
@elf-pavlik :+1: on adding dhen (or whatever nrp instance) to the context, I will do that.  And thanks for looking at this in detail!

This actually clarifies why we need Organization, as subclass of Agent, not subclass of Group.  (Or in the US we could subclass Person..... :tongue: referring to our horrible supreme court decision that corporations are people.  What a country!)

So organizations h

[2015-10-22 14:00] elf-pavlik commented on #20
I know that we commonly may tend to explain things this way, I still think that only a Person (Individual) or Group (Collective) have agency, leaving Bot/BotNet out of conversation for now. When we discuss Organization, we may see it as Group of people, who own a brand and various other resources (inventory?). But those people as individuals or as a group have agency, not some umbrella construct -

[2015-10-22 14:08] elf-pavlik commented on #38
@ahdinosaur how do you plan to describe (ownership) transfers (later also part of exchanges) without **shared concept** of 'owner' based relation between Agent and Resource? https://github.com/valueflows/valueflows/pull/65 eg. [schema:owns](http://schema.org/owns) or [role:owns](https://w3id.org/role/#owns) or anything other than trying to handle it with all kind of: _snowflake:claimsRightsInSomeV

[2015-10-22 14:27] elf-pavlik commented on #51
During last call we seemed to agree that the minimum distinction that we see needed relates to:
- Individual (a single person)
- Collective (two or more people)

To have formal definition of it, I also see need for super generic property which has semantic. "This Collective exists thanks to participation of this individual (among others)", to avoid bike shedding words I would even stay open to nam

[2015-10-22 14:55] fosterlynn commented on #20
Other examples:

Sensorica created an organization (a legal non-profit) called CAKE-ACES that they needed because they need a bank account, liability coverage for their products, etc.  CAKE needs and has agency.

Bob and I live in a small co-housing group that we decided to make a legal cooperative because we needed to have protection for our personal assets if for example someone has a lot of med

[2015-10-22 22:28] fosterlynn commented on #51
@elf-pavlik thanks for moving this back to the right issue! :)

Yes that is my understanding from the last meeting too.  We said Person and Group for now, I think, but to correspond to the meaning you pointed out.

I also understood this to be in the spirit of your workflow suggestion to not think we need to define everything now, but to stick to what exists in our real life situations, and see wh

[2015-10-23 00:35] ahdinosaur commented on #38
the event / exchange types needs to be shared amongst the agents involved, but no more. i see local vocabulary based on subjective perspective as something to embrace not extinguish. if some local vocabulary happen to be really successful, then an agent can host them for external agents to use, as we're trying to do more of within Enspiral.

[2015-10-23 00:44] ahdinosaur commented on #51
super keen on what you're saying, but minor nitpick is that a group can also be made up of many groups, not just many people. this is the key to [being fractal](https://blog.dinosaur.is/life-as-a-holon). [see my Enspiral example to see this in action](https://github.com/valueflows/agent/blob/master/examples/enspiral.jsonld) (a Network is a set of Communities, a Community is a set of Pods, a Pod is

[2015-10-23 00:48] ahdinosaur commented on #20
this. we need to support whatever economic organizing system someone wants to model, whether it be traditional or alternative or anywhere in between.

as @elf-pavlik mentioned, @joshuavial at Enspiral is championing the idea of brands, legal entities, bank accounts, etc as resources rather than organizations, so [i modelled my example as such](https://github.com/valueflows/agent/blob/master/exampl

[2015-10-23 10:42] elf-pavlik opened #54 "vf:controls"
I have impression that in our discussions about agents, their group dynamics and slowly getting into concept of 'ownership' of resources. We may miss explicit presence of IMO key aspect to that conversation **control**.

What I see makes agents distinct, they can **act** (have agency), and to act they need to **make decisions**. We could look at relationship of Person (individual) to a Group (coll

[2015-10-23 10:46] elf-pavlik commented on #20
I think discussion in #54 can possibly help us with modeling various complexities captured here.

[2015-10-23 10:59] elf-pavlik commented on #38
I don't talk about some more specific _types_ of events, transfers or exchanges!

If we define _vf:Transfer_ (not the physical one - _sth:Transport_) as "An vf:Agent (individual or group), who have ownership over a resource, passes this ownership onto another agent". I don't see a way to define shared concept of _Transfer_ without first defining shared concept of _ownership_. In other worlds, unle

[2015-10-23 11:07] bhaugen commented on #54
@elf-pavlik - when I read your commentary above, two thoughts came to mind:
- In previous networks, we've seen the Agent:Resource relationships Owner, Planner (does not own but makes decisions about), Custodian (does not own but has physical custody and responsibility), Manager, Technician (certified to use), Trainer, Certifier, and probably some others I can't think of right now.
- Re Agent:Group

[2015-10-23 11:10] elf-pavlik commented on #20
@fosterlynn what do you think, that for now we would conflate aspects of Agent and Resource on the level of instance. So instead defining class like http://schema.org/LocalBusiness - defined as sub class of both, Organization and Place

Each instance can do something similar by explicit assertion
`"@type": [ "vf:Agent", "vf:Resource"]`
which means that one can consider it both - an Agent and a Res

[2015-10-23 11:19] elf-pavlik commented on #54
Maybe we can map roles to verbs, in terms of which role can perform which set of verbs on given resource. Eg.
- _role:planer_ can NOT _verb:transfer_ but can _verb:lend_ etc.
- _role:driver_ can _verb:drive_, _verb:repair_, _verb:lock_, _verb:unlock_ etc.

Reminds me of this RoR plugin https://github.com/ryanb/cancan/wiki/Defining-Abilities
and https://www.w3.org/wiki/WebAccessControl#Modes_of_Acc

[2015-10-23 11:24] bhaugen commented on #54
Sensorica calls that Access Rules. For example:

From http://nrp.sensorica.co/accounting/resource/411/

[2015-10-23 12:19] fosterlynn commented on #54
@elf-pavlik  I like RDF thinking influencing app thinking for a change for me!  :smile:  I say this because we have implemented only the minimum needed for resource access rules in NRP.  We may need to implement rules that can be used by the computer instead of the human reader of text, but we have hoped that someone else would write a separate app for that, that could be used for managing sharing

[2015-10-23 12:41] bhaugen commented on #38
Agree about defining ownership, and possibly other common Agent:Resource relationships.
E.g. custodian.

Also relates to rights to use resources. Ownership = all rights.

[2015-10-23 12:44] fosterlynn commented on #20
@elf-pavlik @ahdinosaur

Is there something we are actually confronting now that we need to do that for?  If not, it can be a very good discussion to continue to have in the background.  If so, sure, let's give it a try.

I think we should be careful and try to work out our definitions.  Initial thoughts:  In this list, I would think that brand and bank account are only resources, neither one can

[2015-10-23 12:45] bhaugen commented on #20
@ahdinosaur

I agree with Joshua on most of those concepts, except for legal entities. But even that is an interesting idea. You can buy and sell legal entities.

[2015-10-23 12:48] bhaugen commented on #20
@fosterlynn - can we differentiate legal entity as the legal charter from organization as something with agency?

We know of organizations with agency that do not have legal charters.

Examples:
- Sensorica. Context agent for value flows, creates value equations, claims moral ownership of brand.
  - Does have members (called affiliates, but they are the same as members) so could also be described

[2015-10-23 12:56] fosterlynn commented on #38
@bhaugen @elf-pavlik It is possible that transfers always involve a change of ownership, but I would want to think about it more.  There might be other less absolute changes or relationships involved in a transfer.  Or maybe those are another type of economic event (value flow), I don't know.  There has been some work done on this in the REA world too, Bob keeps in touch there.

Just fyi, I want t

[2015-10-23 13:45] fosterlynn commented on #20
@bhaugen possibly something like that is valid.  But when you sell a legal entity, you are selling all of the assets (resources) of that organization in one swoop.  Can one sell an organization without a legal charter?  Don't know.  Anyhow, food for future thought.

[2015-10-23 13:50] bhaugen commented on #20
No.

[2015-10-23 15:19] elf-pavlik commented on #53
@fosterlynn if you would like to rename 'label' and 'labelMap' to 'name' and 'nameMap' I see no problem, actually even like it by lowering chance for cognitive mixing it with label as 'tag'. I initially used 'displayName' and 'displayNameMap' before https://github.com/valueflows/valueflows/pull/70

If you see need for for two different DataProperty instances 'name' and 'label' than you and @ahdino

[2015-10-23 15:48] fosterlynn commented on #53
Moving the discussion to previous issues: https://github.com/valueflows/valueflows/issues/34

[2015-10-23 15:48] #53 closed

[2015-10-23 16:32] bhaugen commented on #38
@fosterlynn - [some new kind of event type] does not always involve a change of ownership. E.g. vendor-managed inventory: VMI agent for manufacturer moves goods from warehouse to store. Location and custodian changes, but not owner.

Oops, I forgot: I think we just today defined Transfer to mean change of ownership...

[2015-10-23 17:17] fosterlynn commented on #38
@bhaugen is that a transfer or is that a process?

[2015-10-23 17:18] fosterlynn commented on #38
oops just replied before I saw your edit I think.....

[2015-10-23 17:19] fosterlynn commented on #38
...and I think we are still thinking about all of this..... I'm not ready to define Transfer yet..... although the discussion is all good.... :smile:

[2015-10-23 17:22] bhaugen commented on #38
@elf-pavlik and I were discussing transporting resources and thought it was a process, that involved some transport service as an input.

[2015-10-23 19:17] elf-pavlik commented on #38
I propose moving free form conversation on transfer to: https://github.com/valueflows/exchange/issues/11 Or another issue in that repo.

Here I just wanted to point out, that for IMO simplest possible definition of _vf:Transfer_ as "transfer of ownership over resource between agents", we need to define concept of ownership first - which seems to make sense as Agent - Resource 'relationship'

If so

[2015-10-23 19:23] fosterlynn commented on #38
@elf-pavlik makes sense to move.  (Sorry, I mostly don't check the issue name when responding, since it isn't visible from down in the thread.)

To note, I don't consider agent - resource relationships to be part of Agent deliverables.  So I've been putting off thinking about them.  Might make sense as a next step after agent round trip works, involving moving along to defining Resource?

[2015-10-23 20:06] elf-pavlik commented on #38
Makes sense @fosterlynn, to focus on possible common Agent-Agent relationship, we could focus on what makes Group a group. As started in https://github.com/valueflows/agent/issues/51#issuecomment-150240833

In similar way as finding it hard o define vf:Transfer without concept of ownership relation. It seems hard to define Group without some concept of membership or inclusion or participation or a

[2015-10-23 20:13] elf-pavlik commented on #38
https://github.com/holodex/enspiral-data/pull/21#issuecomment-118821003

@ahdinosaur I would right away propose to consider naming of properties and classes which we use as _an internal plumbing, for developer eyes only strings_, and people who use apps should see friendly labels/names, which one can easily customize to fit particular cultural context and which one can **translate** into any numbe

[2015-10-23 20:20] bhaugen commented on #38
@elf-pavlik I would hate to code using P34242, but have not problem with internal-plumbing names and external-friendly names.

As I said before, I think our first audience here is programmers. (I could be wrong, maybe it's LOD fans.)

[2015-10-23 20:28] elf-pavlik commented on #38
@bhaugen If we don't have something that we agree on to commonly use, you very unlikely will have reasons to write it in your code. Do you plan to write in your code any of below?
- `dhen:accounting/agent-relationship-type/isOwnerOf/`
- `dex:relationshipTypes/owns`

or
- `dhen:accounting/agent-relationship-type/isMemberOf`
- `dex:relationshipTypes/belongs-to`

[2015-10-23 20:55] bhaugen commented on #38
@elf-pavlik - not sure I understand the question.

I am very likely to write in code something that means owner and something that means member. I don't care what it is, as long as I can understand it without looking up P34242.

So, for example, I will need to create and find Transfers in code, and when creating them, will need to know that Transfer means I take the owner relationship from one age

[2015-10-23 21:28] elf-pavlik commented on #38
I agree and for that reason I brought some of the previous arguments. Actually by looking at what we need to write in various source code, we may get some more clarity on what **shared understanding** we may need to agree on and what concepts we can leave out, even up to various frivolous definitions.

[2015-10-23 22:16] fosterlynn commented on #20
Another update on my jsonld feed from NRP:  I have updated it for all the latest decisions and suggestions.  Also made it so all the @id links return valid jsonld.  Of course I don't know if all of this is correct, it is just visually checked, not having anything yet to read it in.

So, the following should work:
http://dhen.webfactional.com/accounting/agent-jsonld/ (herbal network)
http://nrp.web

[2015-10-24 01:25] ahdinosaur commented on #20
what you have now is fine by me, this is better as a background discussion.

[2015-10-24 13:01] elf-pavlik commented on #20
@fosterlynn awesome !!!

[2015-10-24 20:53] fosterlynn commented on #20
I pulled out some examples from this, added to the repo, and added to the md file.

[2015-10-24 20:58] fosterlynn commented on #20
Oh forgot, I added relationships to the agent specific links.  Hoping this facilitates following the nose.  Next, moving back to the get/parse, to see if I can read any of this stuff.....

[2015-10-25 19:25] fosterlynn commented on #20
Another update which I am very happy with. :smile:   Now able to parse the data coming out of one nrp instance to another, at least into rdf triples.  See http://nrp.webfactional.com/accounting/agent-jsonld-query/, which reads data from the dhen instance and displays the triples.

Next: Get that into django objects and display an ugly list from that.  I'll consider this a meaningful round trip, bu

[2015-10-27 12:47] fosterlynn commented on #20
One more update: @bhaugen took the data out of the graph into python and is displaying the minimal ugly page. :smile:  So I'm happy that there is a round trip and that there is some level of verification of the feed.  I don't think the context actually got verified, because there is no sparql or anything that needed to use the context definition.  Anyway, here it is, reads from nrp instance into d

[2015-10-27 12:56] bhaugen commented on #20
Not yet, for me. I got some other things to do first, but then I want to return to this and make objects out of it.

[2015-11-02 13:54] elf-pavlik opened #55 "Organization/LegalAccount sioc:UserAccount (foaf:OnlineAccount)"
I just had another look at [sioc:UserAccount](http://rdfs.org/sioc/spec/#term_UserAccount) as explained in http://sioc-project.org/node/341

![sioc:UserAccount](http://sioc-project.org/files/sioc_foaf_skos_useraccount_change.png)

It has certain 'agency' limited to web/online resources, and have associated foaf:Agent (usually foaf:Person). In a similar way we could model Organizations - they would

[2015-11-02 16:32] fosterlynn commented on #55
@elf-pavlik I would like to understand why you are so shy of Organization.  I get that the world has a lot of organizations that are in the belly of the beast, perhaps most.  But here are the use cases I know about and personally support:
- Networks buy from organizations and sell to organizations, sometimes buy from Walmart or Exxon-Mobil.  They need to record these exchanges.  They don't care to

[2015-11-02 17:28] elf-pavlik commented on #55
@fosterlynn so far Agent with Person (individual) and Group (collective of individuals and possibly sub groups) looks like something we may need to distinguish when we implement various software. Unless we can clearly define how Organization puts some restrictions on Agent, which may affect implementations I really don't see reason not to just use Agent and recommend people to add various addition

[2015-11-02 18:40] fosterlynn commented on #55
@elf-pavlik so you are thinking maybe just stick to Agent and not do any of our own subclassing?  That is an interesting thought.  Puts some more work on people using our vocabulary, but maybe that's fine, since it adds lots of flexibility.  So for example the NRP software might decide to just make everything that is an Organization into an org:Organization (and vf:Agent) for the purposes of LOD c

[2015-11-03 03:17] ahdinosaur commented on #55
eep, seems like a rabbit hole. :rabbit: :black_circle: i look forward to real-world usage to back up these theories. :wink:

from developing Holodex, we need a simple way to distinguish between agents that are one or many (having sub-agents). it makes sense to have a representation of the virtual accounts that link to real people, but i have no idea what the best solution is till i get my hands di

[2015-11-05 17:00] fosterlynn commented on #55
@ahdinosaur any idea of when that might be?  I agree that will be very interesting!

[2015-12-16 21:07] bhaugen opened #56 "Where are we at with this vocab section?"
@Connoropolous suggests [in this hylo proposal](https://www.hylo.com/p/12324),

I get the impression that the VF crew is fairly satisfied with the the people and groups vocab -  [vf:agent](https://github.com/valueflows/agent), and is moving on to other topics.

Is that true? I'm a little hesitant because we have not made the full round trip to Holodex yet, and @elf-pavlik is out of pocket for awhi

[2015-12-16 21:46] fosterlynn commented on #56
@bhaugen @Connoropolous I feel satisfied with the basic model, and definitely have moved on.... for now.....

There are a few missing links that I can think of:
-- What existing vocab elements do we want to explicitly use? (foaf:Agent? etc.)
-- What types of Agents do we want to explicitly define as part of VF, beyond the use of other vocab items for this?
-- What types of Agent Relationships do w

[2015-12-16 23:53] ahdinosaur commented on #56
second @fosterlynn's comment as an immediate TODO checklist to finish off this development cycle.

then for another cycle of development, i'm interested in splitting out profiles and credentials from the agent objects.

[2015-12-21 15:56] fosterlynn commented on #56
@ahdinosaur :+1:  I consider them already split out, just we haven't done them yet. It's possible we will want to do credentials for @Connoropolous .... there is some work in w3c we might be able to make use of, and/or we can do them as part of Connor's effort.

[2015-12-21 21:56] fosterlynn commented on #56
I think for purposes of starting to use this for @Connoropolous first use case, I would:
- Just use vf: for Agent, Person, Group for now.  I'm not comfortable with that long term, but I don't feel like I can make a call on using existing vocab (like foaf) without others as part of the decision.  And it doesn't affect the model itself.
- Leave the types of Agents at Group and Person for now, since

[2015-12-21 22:02] bhaugen commented on #56
@fosterlynn I'm good with all of that.

[2015-12-22 02:13] ahdinosaur commented on #56
:+1:. i'm also keen to link the `vf` classes to all equivalent external classes that we're aware of via [`owl:equivalentClass`](http://www.w3.org/TR/owl-ref/#equivalentClass-def).

:+1:

i know we've bikeshedded on this for a while now, but i don't feel `affiliatedWith` and `hasAffiliate` are more generic, they are the specific opinions of how Sensorica thinks of membership, even if it is more loo

[2015-12-22 10:47] bhaugen commented on #56
@ahdinosaur @fosterlynn - I don't care about the name of the relationship. Whatever @Connoropolous thinks would communicate best to the people who will be relating (NextEdge, I guess).

[2015-12-22 12:56] fosterlynn commented on #56
OK let's do it!

I also don't care, in the sense that I don't think we know how to make a better decision right now.  ( @Connoropolous  mentioned "affiliate" for NextEdge, but I don't think that drives this decision.  I picked up on it because it seemed like he chose it as reflective of the kind of networks that tend to develop these days, looser than membership. Of course many groups and even net

[2016-01-02 02:44] gcassel commented on #1
I really like the diagram you posted here on Aug 16, @ahdinosaur .  How do you feel about it now?

_Warning: the rest of this comment is really dense with abstract concepts, related in ways I haven't precisely described before.  So I sure hope it makes sense._

I believe Mikey you were suggesting AgentType as one's relationship with (or role in) a process or system?  Can it be assumed that an Agen

[2016-01-02 03:49] ahdinosaur commented on #1
yep, haven't had any ground-breaking ideas since.

i imagined Agents having only one AgenType, though like ResourceType, ProcessType, etc we could find a way to model them as [composable traits](https://en.wikipedia.org/wiki/Trait_%28computer_programming%29).

what became of role is that i realized all roles, positions, posts, responsibilities, accountabilities, etc are actually just relationships

[2016-01-03 16:45] fosterlynn commented on #1
@gcassel that picture is pretty much what the current Agent vocab represents.  We are using subclasses of Agent instead of Agent Types, just a different pattern for the same concept to fit more with LOD think.  The properties are somewhat different, and the naming is cleaned up. Oh, and we split relationships into their two sides or directions, again a LOD driven thing.  But still that is the basi

[2016-01-06 20:01] gcassel commented on #1
So an Agent (person _or_ group) can have a specific Relationship of a complex/ multi-part RelationshipType which bundles two or more RelationshipTypes together-- and this should cover personal positions/posts?

AgentType can effectively focus on all multi-agent groups which are defined by Agents who are practically/ostensibly equal peers, within a given context?

Does that sound about right @foste

[2016-01-06 20:16] fosterlynn commented on #1
@gcassel Hmmm.  So there aren't really multi-part relationship types, but agents can have as many relationships of whatever type they need.

We don't really have Post/Position covered, in the sense that we don't have something that lives by itself without the actual relationship between 2 agents.  Can add if/when someone needs it.

Agent type doesn't have anything to do with the relationship, it i

[2016-01-07 08:36] gcassel commented on #1
@fosterlynn hopefully my new comment in the other thread clarifies the confusion I had last night, when I was (I think) oversimplifying a potential way to describe collective Agents.  Your comment here made lots of sense on that front; thanks.

Here's another try at what I meant in the other part of my last comment above.   I was thinking that any post/position which included more than one distinc

[2016-01-07 12:54] bhaugen commented on #1
@gcassel - it might help if you described some examples of what you are thinking about. They might be relationships between agents (maybe between an individual and a group), they might be responsibilities for resources, or they might be demonstrated skills, they might be commitments to processes, or they might be something we don't have in the vocab yet.

[2016-01-07 15:56] bhaugen commented on #1
Re permissions, "accounts", and related stuff: I think we need to consider two main "architectures" for the value flows model and vocab:
- interop between existing apps, and
- "native" VF apps.

I think for interop between existing apps, permissions and accounts are up to them.

For native VF apps, there won't be any accounts or users or logins. You'll be operating from your personal agent, which

[2016-01-15 20:23] fosterlynn commented on #1
@gcassel that certainly could be a good model.  I'd like to wait on that until we have someone who wants posts/positions, and then we can make it work for something real.  We in NRP don't have a use case yet.  There almost was one in Holodex, but it has disappeared I think.

[2016-01-16 05:51] gcassel commented on #1
Thanks @fosterlynn for the perspective, and I agree on waiting for specific use cases.  I may have some myself soon for roles which require prerequisite roles.  (For instance, a trustee who must be a member.)

By the way, I used the post/position language before, but would it seem reasonable to _only_ use the term 'role' even for special or unique positions at a given level of organization?     In

[2016-01-16 13:24] fosterlynn commented on #1
I think "role" might be confusing in this context, as it doesn't necessarily imply something that persists without someone in it.....  but of course open for future discussion......

cool!

[2016-02-11 15:00] bhaugen opened #61 "agent link dumps"
What if anything does this mean to us?
http://android-developers.blogspot.com/2016/02/announcing-people-api.html

Ontologically, what is a contact?

[2016-03-31 20:08] fosterlynn commented on #56
OK, back at it again after our break!  :smile:   Really sorry I missed the discussion last Sunday!

Want to wrap up the use of other vocabs question for Agent.  At least for the elements we actually have defined right now.  Enough to feel like it can be used as input to trying to get some implementations of Agent, which might be stirring now.

So, I am changing vf:Agent to foaf:Agent, vf:Person to

[2016-03-31 22:47] ahdinosaur commented on #56
@fosterlynn do as you please with the RDF linked data vocab. :smile: everything you mention seems good. i think for Holodex we're going to experiment with an alternative approach in parallel, keeping in mind the overall concepts but without the RDF linked data details.

hmm, that's an interesting idea. i'm not exactly sure what is the difference between partOf and subOf, but like the idea of havin

[2016-04-01 11:26] bhaugen commented on #56
@ahdinosaur

Same model, same vocab, just a different representation? Or different vocab, to some extent?

Anyway, I think we should support different serializations of the model, from json to json-LD to the range of other semantic web formats (Turtle, RDF, whatever). Maybe CSVs. I think my priority is to catch up with Lynn and Pavlik and learn the semweb stuff. But I'll also be interested in what

[2016-04-01 13:47] fosterlynn commented on #56
@ahdinosaur yes looking forward to seeing what comes out of the Holodex direction!  And I like the parallel technical directions too, although I'm not as in touch as @bhaugen with where y'all are going.

[2016-04-03 00:27] bhaugen commented on #61
http://qntm.org/gay
Or, as the article says,

Hat tip @simontegg  and Sam Parkin in an Enspiral Slack channel.

[2016-04-03 04:41] ahdinosaur commented on #56
same model, same vocab, just a different representation using [tcomb](https://github.com/gcanti/tcomb). if we come across any (major) changes to the model / vocab, i'll raise them here.

[2016-04-28 16:43] bhaugen opened #62 "Group-forming protocols"
We have already talked about Conversations for Action, which is a pretty well formalized human-level protocol that can also be executed by computers:
![Conversation for Action](https://github.com/valnet/exchange/raw/master/images/CfA_state_machine.png).

And we have mentioned a variation that I think we called Conversation for Agreement. Those seem related to the kinds of protocols that might be u

[2016-04-29 02:29] gcassel commented on #62
Thanks for creating this issue; I'll try to follow up later.   (Especially after I get around to reading Dan's RobinHood stories you've linked above!)

[2016-05-07 19:20] elf-pavlik commented on #56
Looking at README it seems that we have very minimalistic equivalent of FOAF
- Agent
  - Person
  - Group

I think we just need to clarify little more the Relationship and (has)member(of) and done!

It seems JS specific. Can you still wrap it in [JS RDF Interface](https://github.com/rdfjs/representation-task-force/blob/master/interface-spec.md) and than serialize with any of https://github.com/rdf

[2016-05-09 12:21] bhaugen opened #63 "What is, and what is not, an Agent"
In general, Agents are people and organized groups of people, where the group has an identity.

Agent is related to the concept of [Agency](https://en.wikipedia.org/wiki/Agency_%28philosophy%29): Agents make decisions in relationships with other agents and in groups. In Value Flows, we are concerned with agents participating in online social-economic networks: especially economic networks.

As of

[2016-05-29 23:33] elf-pavlik opened #65 "UML needs corrections"
![uml](https://raw.githubusercontent.com/valueflows/agent/e67cf6b099b91a58f313507b27893b4cf82ac18f/assets/agent.png)

Current diagram seems to show *vf:memberOf* and *vf:hasMember* as subclasses of *rdf:Property*. We define them as **instances** of *rdf:Property*. You could draw them as arrows between *vf:Group* and *vf:Person*.

Also *vf:Relationship* as a class doesn't use *owl:inveseOf* it only

[2016-05-30 13:32] fosterlynn commented on #65
vf:Groups can be members of vf:Groups.  I'm thinking maybe we should take the member stuff off the picture, what do you all think?

Also wondering if I should make vf:Agent into foaf:Agent?  Etc.

[2016-05-30 13:41] fosterlynn commented on #65
Actually, I'm wondering if we want to keep the UML diagrams more at a logical level, so we can eventually support non-LOD interoperability schemes?  I don't right now know what those implementations might look like.  Hmmm.

[2016-05-30 13:51] elf-pavlik commented on #65
In that case you can draw it as arrow between Agent and Group

:+1: also http://xmlns.com/foaf/spec/#term_member

I can make PR to JSON-LD context that will make aliases:

[code]

This way for those who want to rely on that JSON-LD context, difference between `vf:` and `foaf:` namespaces stays hidden away.

[2016-05-30 15:28] fosterlynn commented on #65
Sounds good.  Except I'm wondering about foaf:member, I will need to look at it to see how they define it.  We also talked at one point about other types we want to define, so people can create subproperties of them and know something about their behavior.  (Will be later today I think.)

So what do you think is most useful on the UML diagram then?  foaf:Agent? Agent?

[2016-05-30 16:19] fosterlynn commented on #65
I looked up foaf:member.  Sounds fine to me.

[2016-05-30 17:31] elf-pavlik commented on #65
Let's always use prefixes, at least until we get close to 1.0 release :wink:

[2016-06-14 23:54] elf-pavlik commented on #63
I think that only Agent can make commitments and other agreements. I think we should stay careful when we want to define some subset of Agent which members can NOT make commitments and other agreements - responsibility etc.

[2016-06-14 23:56] bhaugen commented on #63
Agreed.

[2016-06-15 13:56] fosterlynn opened #68 "vf:Organization"
Low priority.  Should we include Organization, and if so, should we use foaf:Organization?  Also considered org:Organization.  Ref. #66

[2016-06-15 15:27] elf-pavlik commented on #65
fixed in #67

[2016-06-15 15:27] #65 closed

[2016-06-15 16:31] fosterlynn commented on #68
I don't think Organization is subclass of Group.  Neither does any other vocab that defines it.  It is a different animal.  I'm good with foaf:Organization, subclass of foaf:Agent.  And also good with waiting, it is not a very important issue for VF I think.

I see the relationship types that an organization would have with other agents to be exactly the same model as we have and use for groups.

[2016-08-19 01:32] elf-pavlik commented on #8
How do you relate resource type of equipment '3d printer' to resource type of work 'operating 3d printer' or resource type of service 'repairing 3d printer'?

[2016-08-19 12:15] fosterlynn commented on #8
We don't have any relationships between those resource types.  Not that one couldn't.

There are some access rules that are not validated in the software, like only trained or certified people are allowed to operate the 3d printer.  Those are in the agent-resource relationship and text, as an easy beginning implementation of access rules.

[2017-02-13 17:17] bhaugen opened #70 "How can a group agent make commitments?"
# Preface
If we allow group agents, as I think we do, then they need to have agency. For example, make commitments with other groups, like in a federation of groups.

From gitter chat:
elf Pavlik @elf-pavlik 10:57
i think we may better discuss issues around 'context agent' here so we don't use github issues as real time chat :wink:

Bob Haugen @bhaugen 10:57
:wave:
I told Lynn that I was ok with y

[2017-02-13 17:21] bhaugen commented on #70
A little more:

Lynn Foster @fosterlynn 11:17
are you worried about people with no agent-relationship to the group saying they make a commitment?

elf Pavlik @elf-pavlik 11:17
this way group can use whatever participants agree on to manage access to that feed
well, if we consider commitment made by group, we need to have a way to verify that group plans to honor it
so we can have a way that doesn'

[2017-02-13 18:51] elf-pavlik commented on #70
relevant link by @bhaugen http://valuenetwork.referata.com/wiki/How_internal_exchanges_and_schedules_must_work_in_a_value_network

[2017-02-15 06:17] ahdinosaur commented on #70
:+1: groups making commitments or individuals making commitments "acting as" a group.

is there an open question here?

[2017-02-15 11:08] bhaugen commented on #70
@ahdinosaur - what's the best current reference(s) for the Scuttleverse conversation about groups?
This [ssb-group rough spec](https://git.scuttlebot.io/%25DVDzq1Da0Zupt8YQ2Z1w182DNr7HdPTJdaQv2spacNs%3D.sha256/blob/19d0cc360b528a0be056b6a01fa86caaf0198678/spec.md)?

[2017-02-17 17:40] elf-pavlik commented on #70
I think this may work as simple as "following ones nose"

1. dereference URI denoting the group agent
2. discover location of "official list of commitments" (most likely based on very specific instance of *rdf:Property*
3. only consider commitments referenced from that list as holding for that group agent

This leaves up to the group how to handle ACL on the "official list of commitments" so anyon

[2017-02-19 23:14] ahdinosaur commented on #70
@bhaugen

- [latest gossip from dominic about his progress](http://viewer.scuttlebot.io/%25nEZgQY5D0EkhvbKa5hu6pRHSfSP50%2FfIlHHBj9%2Bn3BU%3D.sha256)
- [my collection of links on this topic](http://viewer.scuttlebot.io/%25hi%2FUd3rGONa%2Fx5iNLR7m%2FZL3bkrtVtmLiT11XkMziuY%3D.sha256)

[2017-02-20 13:38] bhaugen commented on #70
@ahdinosaur - scuttlebot viewer is :wow: :clap: !

[2017-04-03 13:50] #68 closed

[2017-04-03 13:51] #56 closed

[2017-06-20 21:41] fosterlynn commented on #38
I'm reviving this issue, because I'm working on an api for a new UI for NRP (forks), that wants to eventually be able to get data from other apps than NRP, and wants to be VF compliant.

I'd like to define some standard kinds of agent relationships that can be understood to have certain structure and behavior and general meaning to people.  They tend to show up in different UI places.

What I've c

[2017-06-21 12:20] gcassel commented on #38
This is a deeply important topic so thanks for reviving it.

Agents have an unlimited variety of relationship-types/ "roles" with organizations.   An unlimited variety could be defined by (potentially assymmetrical) *agreements*.   With such "locally defined diversity" in mind, I doubt that VF will need to define more than a few generic types of relationships between agents and organizations.

Any

[2017-06-21 12:22] gcassel commented on #38
Sorry about the brief accidental issue-closing:  jumpy bluetooth mouse

[2017-06-21 13:46] fosterlynn commented on #38
Thanks @gcassel - good push to actually define these terms!  I'll use your definitions as starters when I do a PR for the doc, got any more?

Yes, that is what I'm trying to accomplish, well stated.  Except not just agents and organizations, could be between people too.

Makes sense, I am using "peer" somewhat as a backup catchall for people for less specific relationships.  Brought on by the @ahd

[2017-06-21 14:25] gcassel commented on #38
@fosterlynn I think there are over 100 terms now in [Modular Organization Terminology](https://github.com/gcassel/Modular-Organization-Terminology/tree/master/terms) .  (Recent push to start building that repository.)  Some of them are half-baked at best, though, and I'll need to work (and collaborate) hard to iron out some reasonably clear and valuable relationships *between* the terms.

I feel r

[2017-06-21 15:43] fosterlynn commented on #38
awesome @gcassel i'll feel free to make use of them :)

[2017-06-21 17:25] djodjoni commented on #38
@fosterlynn I actually recently thought about this and re-read a bit this thread https://github.com/valueflows/valueflows/pull/219 as I already forgot some of the discussions.
So what he have been talking is generally 2 types of relationships:

1) memebership-like role, belonging to something

2) economic-flow-like A delivers to B, B buys apples for A , etc.

the 1st one is common and some terms l

[2017-06-21 19:05] fosterlynn commented on #38
hey @djodjoni very glad to see you and thanks for the feedback !!

yes, thanks, and these would be good to include in some of the doc (note to self)

I needed that as my first stage experiments but this info can be very well derived from VF based graph so I don't see any particular need to define it here and it may create confusion with the vf recipes and not only.

I'm actually fine with adding t

[2017-10-02 15:18] bhaugen opened #71 "Activity Pub for conversations between Agents?"
https://hackernoon.com/mastodon-and-the-w3c-f75f376f422
https://www.w3.org/TR/activitypub/#Overview

Maybe what we should be looking at for VF conversations between Agents?

[2020-06-23 21:02] almereyda commented on #71
We have moved the ValueFlows organization from GitHub to https://lab.allmende.io/valueflows.

This issue has been closed here, and all further discussion on this issue can be done at

If you have not done so, you are very welcome to register at https://lab.allmende.io and join the ValueFlows organization there.

[2020-06-23 21:02] #71 closed

[2020-06-23 21:02] almereyda commented on #70
We have moved the ValueFlows organization from GitHub to https://lab.allmende.io/valueflows.

This issue has been closed here, and all further discussion on this issue can be done at

If you have not done so, you are very welcome to register at https://lab.allmende.io and join the ValueFlows organization there.

[2020-06-23 21:02] #70 closed

[2020-06-23 21:03] almereyda commented on #63
We have moved the ValueFlows organization from GitHub to https://lab.allmende.io/valueflows.

This issue has been closed here, and all further discussion on this issue can be done at

If you have not done so, you are very welcome to register at https://lab.allmende.io and join the ValueFlows organization there.

[2020-06-23 21:03] #63 closed

[2020-06-23 21:03] almereyda commented on #62
We have moved the ValueFlows organization from GitHub to https://lab.allmende.io/valueflows.

This issue has been closed here, and all further discussion on this issue can be done at

If you have not done so, you are very welcome to register at https://lab.allmende.io and join the ValueFlows organization there.

[2020-06-23 21:03] #62 closed

[2020-06-23 21:03] almereyda commented on #61
We have moved the ValueFlows organization from GitHub to https://lab.allmende.io/valueflows.

This issue has been closed here, and all further discussion on this issue can be done at

If you have not done so, you are very welcome to register at https://lab.allmende.io and join the ValueFlows organization there.

[2020-06-23 21:03] #61 closed

[2020-06-23 21:03] almereyda commented on #55
We have moved the ValueFlows organization from GitHub to https://lab.allmende.io/valueflows.

This issue has been closed here, and all further discussion on this issue can be done at

If you have not done so, you are very welcome to register at https://lab.allmende.io and join the ValueFlows organization there.

[2020-06-23 21:03] almereyda commented on #54
We have moved the ValueFlows organization from GitHub to https://lab.allmende.io/valueflows.

This issue has been closed here, and all further discussion on this issue can be done at

If you have not done so, you are very welcome to register at https://lab.allmende.io and join the ValueFlows organization there.

[2020-06-23 21:03] #55 closed

[2020-06-23 21:03] #54 closed

[2020-06-23 21:03] almereyda commented on #51
We have moved the ValueFlows organization from GitHub to https://lab.allmende.io/valueflows.

This issue has been closed here, and all further discussion on this issue can be done at

If you have not done so, you are very welcome to register at https://lab.allmende.io and join the ValueFlows organization there.

[2020-06-23 21:03] #51 closed

[2020-06-23 21:03] almereyda commented on #44
We have moved the ValueFlows organization from GitHub to https://lab.allmende.io/valueflows.

This issue has been closed here, and all further discussion on this issue can be done at

If you have not done so, you are very welcome to register at https://lab.allmende.io and join the ValueFlows organization there.

[2020-06-23 21:03] #44 closed

[2020-06-23 21:03] almereyda commented on #38
We have moved the ValueFlows organization from GitHub to https://lab.allmende.io/valueflows.

This issue has been closed here, and all further discussion on this issue can be done at

If you have not done so, you are very welcome to register at https://lab.allmende.io and join the ValueFlows organization there.

[2020-06-23 21:03] #38 closed

[2020-06-23 21:03] almereyda commented on #31
We have moved the ValueFlows organization from GitHub to https://lab.allmende.io/valueflows.

This issue has been closed here, and all further discussion on this issue can be done at

If you have not done so, you are very welcome to register at https://lab.allmende.io and join the ValueFlows organization there.

[2020-06-23 21:03] #31 closed

[2020-06-23 21:03] almereyda commented on #29
We have moved the ValueFlows organization from GitHub to https://lab.allmende.io/valueflows.

This issue has been closed here, and all further discussion on this issue can be done at

If you have not done so, you are very welcome to register at https://lab.allmende.io and join the ValueFlows organization there.

[2020-06-23 21:03] #29 closed

[2020-06-23 21:03] almereyda commented on #28
We have moved the ValueFlows organization from GitHub to https://lab.allmende.io/valueflows.

This issue has been closed here, and all further discussion on this issue can be done at

If you have not done so, you are very welcome to register at https://lab.allmende.io and join the ValueFlows organization there.

[2020-06-23 21:03] #28 closed

[2020-06-23 21:03] almereyda commented on #20
We have moved the ValueFlows organization from GitHub to https://lab.allmende.io/valueflows.

This issue has been closed here, and all further discussion on this issue can be done at

If you have not done so, you are very welcome to register at https://lab.allmende.io and join the ValueFlows organization there.

[2020-06-23 21:03] #20 closed

[2020-06-23 21:03] almereyda commented on #15
We have moved the ValueFlows organization from GitHub to https://lab.allmende.io/valueflows.

This issue has been closed here, and all further discussion on this issue can be done at

If you have not done so, you are very welcome to register at https://lab.allmende.io and join the ValueFlows organization there.

[2020-06-23 21:03] #15 closed

[2020-06-23 21:03] almereyda commented on #11
We have moved the ValueFlows organization from GitHub to https://lab.allmende.io/valueflows.

This issue has been closed here, and all further discussion on this issue can be done at

If you have not done so, you are very welcome to register at https://lab.allmende.io and join the ValueFlows organization there.

[2020-06-23 21:03] #11 closed

[2020-06-23 21:03] almereyda commented on #8
We have moved the ValueFlows organization from GitHub to https://lab.allmende.io/valueflows.

This issue has been closed here, and all further discussion on this issue can be done at

If you have not done so, you are very welcome to register at https://lab.allmende.io and join the ValueFlows organization there.

[2020-06-23 21:03] #8 closed

[2020-06-23 21:03] almereyda commented on #7
We have moved the ValueFlows organization from GitHub to https://lab.allmende.io/valueflows.

This issue has been closed here, and all further discussion on this issue can be done at

If you have not done so, you are very welcome to register at https://lab.allmende.io and join the ValueFlows organization there.

[2020-06-23 21:03] #7 closed

[2020-06-23 21:03] almereyda commented on #2
We have moved the ValueFlows organization from GitHub to https://lab.allmende.io/valueflows.

This issue has been closed here, and all further discussion on this issue can be done at

If you have not done so, you are very welcome to register at https://lab.allmende.io and join the ValueFlows organization there.

[2020-06-23 21:03] #2 closed

[2020-06-23 21:03] almereyda commented on #1
We have moved the ValueFlows organization from GitHub to https://lab.allmende.io/valueflows.

This issue has been closed here, and all further discussion on this issue can be done at

If you have not done so, you are very welcome to register at https://lab.allmende.io and join the ValueFlows organization there.

[2020-06-23 21:03] #1 closed